In [1]:
print("hello world")

hello world

In [2]:
print(3+7)

10

In [3]:
4+9

13

In [4]:
variable = 80-2
variable

78

In [5]:
type(variable)

int

In [6]:
a,b,c = 1,2,3
a,b,c

(1, 2, 3)

In [7]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [8]:
len(keyword.kwlist)

35

In [9]:
var_=6

In [10]:
_var=6

In [11]:
z=8
Z=z
print(Z)

8

In [12]:
key="string content"
key

'string content'

In [13]:
type(key)

str

In [14]:
20/4

5.0

In [15]:
100/6

16.666666666666668

In [16]:
100//6

16

In [17]:
20/2

10.0

In [18]:
20//2

# floor division

10

In [19]:
25%5

# modulus

0

In [20]:
2 * 3

6

In [21]:
2 ** 3

#power of 2

8

In [22]:
a =5 
a+= 5
print(a)

10

In [23]:
a = 5
a-=2
print(a)

3

In [24]:
a=4

#comparision operator
a==4

True

In [25]:
a =5

a+=5

#comparision operator
a==5

False

In [26]:
a =5

a > 3

True

In [27]:
a = 5

a > 20

False

In [28]:
a = 5

a < 20

True

In [29]:
a = 5

a <= 3

False

In [30]:
a = 5

a >= 1

True

In [31]:
a = 5
b = 5

# a>3  
# true

b>3
# b > 3
# True

a>3 and b>3

True

In [32]:
a = 5
b = 5

a>3 and b<3

# and ....operator

False

In [33]:
a = 5
b = 0

a>1 or b>1

# or operator

True

Bitwise operator

In [34]:
a = 5
b = 3
a  & b

1

In [35]:
a = 5
b = 3
a | b

7

In [36]:
a = "chandra"
print("c" in a)

True

In [37]:
a = "chandra"

print("zyx" in a)

False

In [38]:
a = [1,2,3,4]

print(10 in a)

False

In [39]:
a = True

not a

#not operator

False

'Math' module

In [40]:
import math

math.pi

3.141592653589793

In [41]:
import math

math.nan

#not a number

nan

In [42]:
import math

math.floor(200.34567)

# floor value

200

In [43]:
import math

math.ceil(300.999)

# ceil value

301

In [44]:
import math

math.log(100)

4.605170185988092

In [45]:
import math

math.sqrt(16)

4.0

In [46]:
import math

math.pow(2,3)

# cube of 2

8.0

In [47]:
a = [1,2,3,4]

print(10000 not in a)

True

In [48]:
a = 5

if a == 5:
    print(a)

5

In [49]:
a = 5

if a > 10000:
    print("true")

else:
    print("false")

false

In [50]:
a = 5

if a > 0:
    a = a + 3
    print(a)

else:
    print(a)

8

In [51]:
a = 5

if a == 5:
    a = a + 5
    print(a)

10

In [52]:
a = 5

if a == 1000:
    print("if statement is true")

print("outside of if-block")

outside of if-block

In [53]:
a = 5

if a == 3:
    print(a+3)

elif a ==5:
    print("elif statements get executed")
    print(a)

elif a > 20:
    print("nested elif")

elif statements get executed
5

In [54]:
a = 5

if a > 200:
    pass

elif a < 0:
    pass

else:
    print("else block statements get executed")
    print(a)

else block statements get executed
5

In [55]:
fruits = ["apple", "banana", "orange"]

if "chandra" in fruits:
    print("chandra is present in the list")

elif "cherry" in fruits:
    print("cherry is present in list")

else:
    print("else block got executed")

else block got executed

List

In [56]:
a = [1,2,3,4,5,6]
len(a)

6

In [57]:
a =[1,2,3,4,5,6]

a[0:2]

[1, 2]

In [58]:
a = [1,2,3,4,5,6]

a[:4]

[1, 2, 3, 4]

In [59]:
a = [1,2,3, "string content", 3+4j]

a

[1, 2, 3, 'string content', (3+4j)]

In [60]:
a = ["chandra", "sai", "AI Engineer", "ML Engineer", "Data Science Engineer"]

a[0]

'chandra'

In [61]:
a = ["chandra", "sai", "AI Engineer", "ML Engineer", "Data Science Engineer"]

a[0:2]

['chandra', 'sai']

In [62]:
a = ["chandra", "sai", "AI Engineer", "ML Engineer", "Data Science Engineer"]

a[:4]

['chandra', 'sai', 'AI Engineer', 'ML Engineer']

In [63]:
a = ["chandra", "sai", "AI Engineer", "ML Engineer", "Data Science Engineer"]

a[0:4:2]

# starting index=== 0
# last index======= 4
# skip 2 elements from it

['chandra', 'AI Engineer']

In [64]:
a = ["chandra", "sai", "AI Engineer", "ML Engineer", "Data Science Engineer"]

a[::2]

['chandra', 'AI Engineer', 'Data Science Engineer']

In [65]:
a = ["chandra", "sai", "AI Engineer", "ML Engineer", "Data Science Engineer"]

a[-1]
# last element

'Data Science Engineer'

In [66]:
a = ["chandra", "sai", "AI Engineer", "ML Engineer", "Data Science Engineer"]

a[-2]

'ML Engineer'

In [67]:
a = ["chandra", "sai", "AI Engineer", "ML Engineer", "Data Science Engineer"]

a[::-1]
# print in reverse order

['Data Science Engineer', 'ML Engineer', 'AI Engineer', 'sai', 'chandra']

In [68]:
a = [1]

a * 2

# repeated elements twice

[1, 1]

In [69]:
a = [1,2,3]

a * 2

# repeated elements twice

[1, 2, 3, 1, 2, 3]

In [70]:
a = [1,2,3]

a.append("new element")
# add element into list

a

[1, 2, 3, 'new element']

In [71]:
a = [1,2,3]

a.append([4,5,6])

a

[1, 2, 3, [4, 5, 6]]

In [72]:
a = [1,2,3,4,5,6]

# pop ....zero index
a.pop(0)
a

[2, 3, 4, 5, 6]

Tuple

In [73]:
a = (1,2,3,4,5,6)

type(a)

tuple

In [74]:
a = ("first", "second", "third","four")

a[:2]

('first', 'second')

In [75]:
a = ("first", "second", "third","four")

a[-1]

'four'

In [76]:
a = ("first", "second", "third","four")

a[::-1]
# print in reverse order

('four', 'third', 'second', 'first')

In [77]:
t = "ABXCDFbnght"
t.lower()
print(t.lower())

#converted to LOWER CASE

abxcdfbnght

In [78]:
t = "abcdefghijk"
print(t.upper())

# converted to UPPER CASE

ABCDEFGHIJK

In [79]:
t = "Hello World"
sliced = t.split(' ')

print(sliced)

# split data based on white-space

['Hello', 'World']

In [80]:
t = "Hello,World"
sliced = t.split(',')

print(sliced)

#split() ....the data based on comma

['Hello', 'World']

In [81]:
a ="first statement"
a = a + " second-statement"

print(a)

# concatenate two strings

first statement second-statement

In [82]:
a = ("first", "second", "third","four")

a[0:3:2]

# skip "second element" every time

('first', 'third')

In [83]:
a = ("first", "second", "third","four","five", "six", "seven", "eight", "nine", "ten")
print("total elements length",len(a))
a[0:9:2]
#skip second element every time

total elements length 10

('first', 'third', 'five', 'seven', 'nine')

Dictionary

In [84]:
d = {'key': [1,2,3,4]}

d

{'key': [1, 2, 3, 4]}

In [85]:
d["key"]

[1, 2, 3, 4]

In [86]:
d = {'key': [1,2,3,4],
     'key': [5,6,7,8]}

d
# key has 1,2,3,4 ....these are replaced
 # python avoid duplicates in dictionary and replaces it last modified 'key'

{'key': [5, 6, 7, 8]}

In [87]:
d = {'key1': ["string1", "string2"],
     'key2': [1,2,3,4,5,6]
}

d.items
d.items()

dict_items([('key1', ['string1', 'string2']), ('key2', [1, 2, 3, 4, 5, 6])])

In [88]:
d = {'key1': ["string1", "string2"],
     'key2': [1,2,3,4,5,6]
}

d.keys()
# print keys

dict_keys(['key1', 'key2'])

In [89]:
d = {'key1': ["string1", "string2"],
     'key2': [1,2,3,4,5,6]
}

d.values()
#it returns all the values

dict_values([['string1', 'string2'], [1, 2, 3, 4, 5, 6]])

In [90]:
d = {'key1': ["string1", "string2"],
     'key2': [1,2,3,4,5,6]
}

del d['key2']
# delete key2

d

{'key1': ['string1', 'string2']}

In [91]:
def factorial(number):
    if number==0:
        return 1
    else:
        return number * factorial(number-1) 

factorial(0)        

# function

1

In [92]:
factorial(5)

120

In [96]:
factorial("3")

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [94]:
#single comment line

In [95]:
""" multiple line of comments"""

' multiple line of comments'

In [97]:
# function definition
def add(num1,num2):
    return num1 + num2

#function calling
add(5,5)

10

In [98]:
def function():
    """ 
     doc string 
    
    to describe the purpose of function
    """
    pass 

function()

In [99]:
# interpreter encounters "pass" keyword, it does nothing and moves on to the next line.

In [100]:
#function definition 
def add(number1, number2):
    """ it takes two arguments
    first parameter: number1
    second parameter: number2

    Returns: finally adds the two number and returns the output
    """
    return number1 + number2 # function definition ends here

#function calling....to execute the function
add(20, 5)

25

In [101]:
# how the code gets executed?

print("number1")
print("second number")
for i in range(3):
    print(i)
print("third number")

number1
second number
0
1
2
third number

In [102]:
df1 = 5
type(df1)

int

In [103]:
# type conversion
# convert integer to string

vari = str(df1)
type(vari)

str

In [104]:
b1= input("enter number")
print(b1)

6

In [105]:
a1 = 20
a1 + b1

# type(b)====str
#trying to add int and str

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [106]:
xyz= input("enter user input")
print("given input",xyz)

type(xyz)

print("data type :", type(xyz))

given input string
data type : <class 'str'>

In [107]:
a=20
#input()....... asking user to "enter a number"
b= int(input("Ener number")) # converted it into integer
print("b data type is",type(b))
print(a + b)

b data type is <class 'int'>
26

In [108]:
v= "chandra"
print(type(v))
print(v)
list(v)
print("converted to list data type",list(v))

<class 'str'>
chandra
converted to list data type ['c', 'h', 'a', 'n', 'd', 'r', 'a']

In [109]:
name=" chandra"
title="AI Engineer"
print(f"my name is: {name} and my profession is: {title}")

my name is:  chandra and my profession is: AI Engineer

In [110]:
expression = input("Enter expression")
result = eval(expression)
print(result)

# Enter expression   3 + 7
#given input is string data type
# eval ()

10

In [111]:
type(result)

int

In [112]:
a = eval("2 * 5")
a

10

In [113]:
a = eval("3 + 5")
a

8

In [114]:
a = eval("2 + 3 + 5")
a

10

In [115]:
a = eval("2 * 4 * 10")
a

80

In [116]:
a = eval("100 / 5")
a

20.0

In [117]:
len("hello world")

11

In [118]:
b= eval("len('hello world')")
print(b)
type(b)

11

int

for loop

In [1]:
a = [1,2,3,4,5,6]

for i in a:
    print(i)

1
2
3
4
5
6

In [2]:
t = (1,2,3,4)

for i in t:
    print(i)

1
2
3
4

In [3]:
fruits = ['apple', 'banana', 'grapes']

for index, i in enumerate(fruits):
    print(index,i)

0 apple
1 banana
2 grapes

In [12]:
# function to print even numbers

def even_number_sum():
    sum=0
    numbers = [1,2,3,4,5,6,7,8,9,10]
    for i in numbers:
        if i%2==0:
         sum+=i
    print(sum) 

even_number_sum()

30

In [20]:
text = "iT is a text CONTENT and prints a value"
count_a = 0
print("length:",len(text))
if 'a' in text.lower():
    for char in text.lower():
        if char=='a':
            count_a+=1
    
print(count_a)  

# else:
#     print()

length: 39
4

In [22]:
for num in range(5,15):
    if num > 1:
        for i in range(2, num):
            if num%i == 0:
                break
        else:
            print(num)

5
7
11
13

In [9]:
class Myclass:
    
    def basic(self):
        print("my class")

c=Myclass()

c.basic()

my class