# Python for Beginners

## 1. What is Python?

Python is an interpreted, high-level, general-purpose programming language.

- **Interpreted:** You write code and it runs immediately via an interpreter, without a separate compile step.
- **High-level:** It abstracts away computer details like memory management so you can focus on logic.
- **General-purpose:** You can use it for many things: web development, automation, data analysis, AI, and more.

Python is dynamically typed (no need to declare variable types) and has built-in memory management (garbage collection).

Python‚Äôs syntax emphasizes readability and simplicity, making it beginner-friendly.

## History and Why Use Python

- Created by Guido van Rossum in the late 1980s, first released in 1991.
- Popular due to simplicity, a large standard library, extensive ecosystem, and versatility.
- Great for beginners: less boilerplate code, quick feedback loop.
  
### What can you do with Python?
- Automate tasks (file operations, web scraping)
- Build websites (Django, Flask)
- Data analysis and visualization (pandas, NumPy, matplotlib)
- Scientific computing, machine learning
- Scripting, command-line tools, and more

### Summary:
Python is a friendly, versatile programming language that you can quickly start experimenting with.

## 2. How to Install Python & Set Up Environment

### Step 1: Download

- Go to [python.org](https://python.org)
- Select your OS under Downloads (Windows, macOS, Linux)

### Step 2: Install

- **Windows:** Run the `.exe` installer. **Important:** Check ‚ÄúAdd Python to PATH‚Äù.
- **macOS:** Use the `.pkg` installer or install via Homebrew (`brew install python3`).
- **Linux:** Often pre-installed. Use your package manager, e.g., `sudo apt install python3` (Ubuntu).

### Step 3: Verify Installation

Open a terminal or command prompt and run:

```bash
python --version
# or
python3 --version



## Cell 3: Setting Up a Code Editor or IDE (Markdown)


## Step 3: Choose an Editor or IDE

For beginners, good options are:

- **Visual Studio Code** with the Python extension (free, lightweight)
- **Jupyter Notebook / JupyterLab** (great for interactive coding)
- **PyCharm** (professional IDE with many features, has a free Community edition)

### Installing VS Code

- Download from [code.visualstudio.com](https://code.visualstudio.com)
- Install Python extension (search for ‚ÄúPython‚Äù in Extensions pane)

### Installing PyCharm

- Download Community Edition from [jetbrains.com/pycharm](https://www.jetbrains.com/pycharm/download/)
- Follow installation instructions

These editors give you helpful features like syntax highlighting, debugging, and code completion.

## Step 4 (Optional): Use a Virtual Environment

A virtual environment keeps your Python project dependencies isolated.

Open a terminal and run:

```bash
python -m venv myenv
```

## Activate the virtual environment

## On macOS/Linux:
open the terminal and run

```bash
source myenv/bin/activate
```

## On Windows (Command Prompt):
open the terminal and run

```bash
myenv\Scripts\activate
```

## On Windows (PowerShell):
open the powershell and run

```bash
myenv\Scripts\Activate.ps1
```


---

## Cell 5: Installing and Using Jupyter Notebook (Markdown + Bash)


## Step 5: Install Jupyter Notebook

To work interactively or run notebooks from GitHub:

```bash
pip install notebook
jupyter notebook

---------------------
#### Code Explanation:--
---------------------

Printing / output: Use print(...) to show text or data on the screen.

Comments: Lines beginning with # are comments (ignored by interpreter) ‚Üí used for explanation.

In [46]:
print("hello world")

hello world

#### Code Explanation:
---
Basic arithmetic / expressions: e.g., 2 + 3, 10 * (5‚Äë2), etc.

You‚Äôll see that Python evaluates expressions and you get results immediately.

In [47]:
print(3+7)

10

In [48]:
4+9

13

## Variables and Data Types

### Variables ‚Äì what are they?

#### Code Explanation:
---
variable = 80 - 2:
This assigns the result of the expression 80 - 2 (which is 78) to a variable named variable.

variable is the name.

= is the assignment operator.

80 - 2 is an arithmetic expression (subtraction).

variable:
This line prints the current value stored in variable, which is 78. In Jupyter Notebook, writing the variable name alone on a line displays its value.

In [49]:
variable = 80-2
variable

78

#### Code Explanation:
---
type() is a built-in Python function that tells you what kind of data (or data type) a value or variable holds.

In this case, variable contains the result of 80 - 2, which is 78.

Since 78 is a whole number, type(variable) will return <class 'int'>.

üß† Takeaway: Use type() to understand the type of value you're working with‚Äîimportant for debugging and learning.

In [50]:
type(variable)

int

#### Code Explanation:
---
Multiple Assignment: This line assigns three values to three variables in a single line:

a = 1

b = 2

c = 3

This is called tuple unpacking (even without parentheses). Python assigns each value on the right to the corresponding variable on the left.

The second line (a, b, c) returns a tuple: (1, 2, 3) when run in a Jupyter Notebook.

In [51]:
a,b,c = 1,2,3
a,b,c

(1, 2, 3)

#### Code Explanation:
---
import keyword:
This imports Python's built-in keyword module, which helps you work with reserved words in the language.

keyword.kwlist:
This returns a list of all keywords in Python ‚Äî words like if, else, for, while, def, class, etc., that cannot be used as variable names.

In [52]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

#### Code Explanation:
---
keyword.kwlist returns a list of all Python keywords.

len() is a built-in function that returns the number of items in a list.

So, len(keyword.kwlist) tells you how many keywords exist in your current version of Python.

üß† Example output (as of Python 3.10+): It will return something like 36, but this number may change with Python versions.

In [53]:
len(keyword.kwlist)

35

#### Code Explanation:
---
This line creates a variable named var_ and assigns the value 6 to it.

Variable names can include letters, numbers, and underscores (_), but cannot start with a number.

Here, var_ is a valid variable name because it starts with a letter and ends with an underscore.

The value 6 is an integer.

‚úÖ Tip: Use meaningful variable names to make your code easier to understand.

In [54]:
var_=6

#### Code Explanation:
---
This creates a variable named _var and assigns the value 6 to it.

Variable names in Python can start with an underscore (_), which is perfectly valid.

Starting a variable with _ is sometimes used to indicate it's intended for internal use or "private" (by convention, not enforced by Python).

The value 6 is an integer (int).

‚úÖ So _var is a valid variable name, just like var_ or var1.

In [55]:
_var=6

#### Code Explanation:
---
z = 8
Assigns the integer value 8 to the variable z.

Z = z
Assigns the value stored in z (which is 8) to a new variable Z.
Note: Variable names are case-sensitive in Python, so z and Z are two different variables.

print(Z)
Displays the value of Z in the output, which is 8.

In [56]:
z=8
Z=z
print(Z)

8

#### Code Explanation:
---
key = "string content"
This assigns the string "string content" to the variable named key.

A string is a sequence of characters enclosed in quotes (single '...' or double "..." quotes).

key (on its own line) in a Jupyter Notebook outputs the current value of the variable, which is the string "string content".

In [57]:
key="string content"
key

'string content'

### Numeric types (int, float, complex)

### Python Numeric Types

Python has three main numeric types:

- `int`: Integer numbers (whole numbers without decimal points)
- `float`: Floating-point numbers (numbers with decimal points)
- `complex`: Complex numbers (numbers with real and imaginary parts)

These types are built-in and allow you to work with different kinds of numbers.

#### Integer (`int`) Examples

Integers are whole numbers, positive or negative, without any decimal part.

In [91]:
a = 10
b = -5
c = 0

print(a, type(a))  # 10 <class 'int'>
print(b, type(b))  # -5 <class 'int'>
print(c, type(c))  # 0 <class 'int'>

10 <class 'int'>
-5 <class 'int'>
0 <class 'int'>

### Float (`float`) Examples

Floats are numbers with decimal points.

In [92]:
x = 3.14
y = -0.001
z = 2.0

print(x, type(x))  # 3.14 <class 'float'>
print(y, type(y))  # -0.001 <class 'float'>
print(z, type(z))  # 2.0 <class 'float'>

3.14 <class 'float'>
-0.001 <class 'float'>
2.0 <class 'float'>

### Complex (`complex`) Examples

Complex numbers have a real part and an imaginary part, written with a `j` suffix for the imaginary part.

In [93]:
m = 3 + 4j
n = 2 - 1j

print(m, type(m))  # (3+4j) <class 'complex'>
print("Real part:", m.real)    # 3.0
print("Imaginary part:", m.imag)  # 4.0

print(n, type(n))  # (2-1j) <class 'complex'>
print("Real part:", n.real)    # 2.0
print("Imaginary part:", n.imag)  # -1.0

(3+4j) <class 'complex'>
Real part: 3.0
Imaginary part: 4.0
(2-1j) <class 'complex'>
Real part: 2.0
Imaginary part: -1.0

#### Code Explanation:
---
The type() function tells you the data type of the value stored in a variable.

Since key holds "string content", which is text enclosed in quotes, type(key) will return <class 'str'>.

<class 'str'> means the variable is a string.

In [58]:
type(key)

str

#### Code Explanation:
---
This is a simple division operation in Python.

The / operator divides the number on the left (20) by the number on the right (4).

The result is 5.0 ‚Äî note that Python returns a floating-point number (decimal) even if the division is exact.

In [59]:
20/4

5.0

#### Code Explanation:
---
This divides 100 by 6 using the / operator.

Since the division doesn‚Äôt result in a whole number, Python returns a floating-point number (a decimal).

The output will be approximately 16.666666666666668.

In [60]:
100/6

16.666666666666668

In [61]:
100//6

16

#### Code Explanation:
---
This divides 20 by 2 using the / operator.

The result is 10.0 ‚Äî a floating-point number (decimal), even though the division is exact.

Python‚Äôs division operator / always returns a float (decimal), never an integer.

In [62]:
20/2

10.0

#### Code Explanation:
---
// is the floor division operator in Python.

It divides the number on the left by the number on the right and then rounds down to the nearest whole number (integer).

In this case, 20 // 2 divides 20 by 2, which equals exactly 10, so the result is 10 (an integer, not a float).

In [63]:
20//2

# floor division

10

#### Code Explanation:
---
% is the modulus operator in Python.

It returns the remainder after dividing the left number by the right number.

In this case, 25 % 5 means: divide 25 by 5, then return the remainder.

Since 25 is exactly divisible by 5, the remainder is 0.

In [64]:
25%5

# modulus

0

#### Code Explanation:
---
* is the multiplication operator in Python.

This multiplies the number on the left (2) by the number on the right (3).

The result is 6.

In [65]:
2 * 3

6

#### Code Explanation:
---
** is the exponentiation operator in Python.

It raises the number on the left (2) to the power of the number on the right (3).

So, 2 ** 3 means 

=2√ó2√ó2=8.

In [66]:
2 ** 3

#power of 2

8

#### Code Explanation:
---
a = 5: Assigns the value 5 to the variable a.

a += 5: This is a shortcut for a = a + 5. It adds 5 to the current value of a and updates a.

print(a): Displays the current value of a.

In [67]:
a =5 
a+= 5
print(a)

10

#### Code Explanation:
---
a = 5: Assigns the value 5 to the variable a.

a -= 2: This is shorthand for a = a - 2. It subtracts 2 from the current value of a and updates a.

print(a): Prints the new value of a.

In [68]:
a = 5
a-=2
print(a)

3

#### Code Explanation:
---
a = 4: Assigns the value 4 to the variable a.

a == 4: This is a comparison operator that checks if a is equal to 4.

The == operator does NOT assign a value; it compares two values.

The result of a == 4 is a Boolean value:

True if a equals 4

False otherwise

In [69]:
a=4

#comparision operator
a==4

True

#### Code Explanation:
---
a = 5: Assigns the value 5 to variable a.

a += 5: Adds 5 to the current value of a.
So, now a is 10 (5 + 5).

a == 5: Checks if the current value of a is equal to 5.

Since a is now 10, the expression a == 5 evaluates to False.

In [70]:
a =5

a+=5

#comparision operator
a==5

False

#### Code Explanation:
---
a = 5: Assigns the value 5 to variable a.

a > 3: This is a comparison operator that checks if a is greater than 3.

Since 5 is greater than 3, this expression evaluates to True.

In [71]:
a =5

a > 3

True

#### Code Explanation:
---
a = 5: Assigns the value 5 to the variable a.

a > 20: Checks if a is greater than 20.

Since 5 is not greater than 20, this expression evaluates to False.

In [72]:
a = 5

a > 20

False

#### Code Explanation:
---
a = 5: Assigns the value 5 to the variable a.

a < 20: Checks if a is less than 20.

Since 5 is less than 20, this expression evaluates to True.

In [73]:
a = 5

a < 20

True

#### Code Explanation:
---
a = 5: Assigns the value 5 to the variable a.

a <= 3: Checks if a is less than or equal to 3.

Since 5 is greater than 3, this expression evaluates to False.

In [74]:
a = 5

a <= 3

False

#### Code Explanation:
---
a = 5: Assigns the value 5 to the variable a.

a >= 1: Checks if a is greater than or equal to 1.

Since 5 is greater than 1, this expression evaluates to True.

In [75]:
a = 5

a >= 1

True

#### Code Explanation:
---
a = 5 and b = 5: Assigns the value 5 to variables a and b.

a > 3: Checks if a is greater than 3 ‚Üí True because 5 > 3.

b > 3: Checks if b is greater than 3 ‚Üí True.

a > 3 and b > 3: Uses the logical AND operator to check if both conditions are true.

Since both a > 3 and b > 3 are True, the whole expression is True.

Quick note on and:

and returns True only if both conditions are true.

If either one is false, it returns False.


| a > 3 | b > 3 | a > 3 and b > 3 |
| ----- | ----- | --------------- |
| True  | True  | True            |
| True  | False | False           |
| False | True  | False           |
| False | False | False           |

In [76]:
a = 5
b = 5

# a>3  
# true

b>3
# b > 3
# True

a>3 and b>3

True

#### Code Explanation:
---
a = 5 and b = 5: Assigns the value 5 to both variables.

a > 3 and b < 3: This uses the logical AND operator.

It checks two conditions:

a > 3 ‚Üí Is 5 greater than 3? True

b < 3 ‚Üí Is 5 less than 3? False

Since AND requires both conditions to be True, and one is False, the whole expression evaluates to False.

Summary of and operator:

Returns True only if both conditions are True.

Returns False if any one condition is False.

In [77]:
a = 5
b = 5

a>3 and b<3

# and ....operator

False

#### Code Explanation:
---
a = 5 and b = 0: Assigns values to variables a and b.

a > 1 or b > 1: Uses the logical OR operator to check if at least one condition is true.

a > 1 ‚Üí Is 5 greater than 1? True

b > 1 ‚Üí Is 0 greater than 1? False

Since OR requires only one condition to be true, the entire expression evaluates to True.


Summary of or operator:

Returns True if at least one condition is True.

Returns False only if both conditions are False.


| a > 1 | b > 1 | a > 1 or b > 1 |
| ----- | ----- | -------------- |
| True  | True  | True           |
| True  | False | True           |
| False | True  | True           |
| False | False | False          |

In [78]:
a = 5
b = 0

a>1 or b>1

# or operator

True

### Bitwise operator

#### Code Explanation:
---
a = 5 and b = 3: Assign values 5 and 3 to variables a and b.

a & b: This is the bitwise AND operator.

It performs a bit-by-bit comparison of the binary forms of a and b and returns a new number.

How it works:

Binary of 5 is 0101

Binary of 3 is 0011

  0101  (5)
& 0011  (3)
= 0001  (1)

In [79]:
a = 5
b = 3
a  & b

1

#### Code Explanation:
---
a = 5 and b = 3: Assign values 5 and 3 to variables a and b.

a | b: This is the bitwise OR operator.

It compares the binary representation of a and b bit by bit and returns a new number.

The result has bits set to 1 if either of the bits in a or b is 1.

How it works:

Binary of 5 is 0101

Binary of 3 is 0011

Perform bitwise OR (|):
  0101  (5)
| 0011  (3)
= 0111  (7)

In [80]:
a = 5
b = 3
a | b

7

#### Code Explanation:
---
a = "chandra": Assigns the string "chandra" to variable a.

"c" in a: Checks if the character "c" is present anywhere in the string a.

Since "c" is the first letter of "chandra", the expression returns True.

print() displays the result, so it will print True.

Summary:

The keyword in can be used to check if a substring or character exists inside a string (or other collections like lists).

Returns True if found, otherwise False.

In [81]:
a = "chandra"
print("c" in a)

True

#### Code Explanation:
---
a = "chandra": Assigns the string "chandra" to the variable a.

"zyx" in a: Checks if the substring "zyx" is present anywhere inside the string a.

Since "zyx" is not found in "chandra", the expression evaluates to False.

The print() statement outputs False.

Summary:

The in operator checks if one string is a substring of another.

If the substring is not found, it returns False.

In [82]:
a = "chandra"

print("zyx" in a)

False

#### Code Explanation:
---
a = [1, 2, 3, 4]: Creates a list with four numbers.

10 in a: Checks if the number 10 is present in the list a.

Since 10 is not in the list [1, 2, 3, 4], the expression returns False.

print() outputs False.

Summary:

The in operator works with lists, strings, and other collections to check for the presence of an element.

Returns True if the element is found, otherwise False.

In [83]:
a = [1,2,3,4]

print(10 in a)

False

#### Code Explanation:
---
a = True: Assigns the Boolean value True to variable a.

not a: Uses the logical NOT operator.

not reverses the Boolean value:

If a is True, then not a is False.

If a is False, then not a is True.

Summary:

not flips the truth value.

It's useful when you want to check the opposite of a condition.

In [84]:
a = True

not a

#not operator

False

### 'Math' module

#### Code Explanation:
---
import math: This imports Python‚Äôs built-in math module, which contains many useful mathematical functions and constants.

math.pi: Accesses the constant œÄ (pi) from the math module.

math.pi gives you the value of œÄ (approximately 3.141592653589793), which is useful for calculations involving circles, angles, etc.

Summary:

The math module provides handy math tools like pi, sqrt(), sin(), and more.

To use these tools, you first import the module with import math.

In [85]:
import math

math.pi

3.141592653589793

#### Code Explanation:
---
import math: Imports the math module to use math constants and functions.

radius = 5: Assigns the value 5 to the variable radius, representing the radius of a circle.

area = math.pi * radius ** 2: Calculates the area of a circle using the formula 
ùúã
ùëü
2
œÄr
2
:

math.pi gives the value of œÄ (approximately 3.14159).

radius ** 2 means radius squared (radius multiplied by itself).

print(area): Displays the calculated area.

What happens step-by-step:

Square the radius: 
5 x 5 = 25


Multiply by œÄ: 
25
√ó
3.14159
‚âà
78.54
25√ó3.14159‚âà78.54.

The output will be approximately 78.53981633974483.

Summary:

This program calculates and prints the area of a circle with radius 5.

You can change the radius value to calculate the area for other circles.

In [86]:
import math

radius = 5
area = math.pi * radius ** 2  # Area of a circle
print(area)

78.53981633974483

#### Code Explanation:
---
import math: Imports the built-in math module.

math.nan: Represents the special floating-point value NaN, which stands for "Not a Number".

NaN is used to represent undefined or unrepresentable numeric results, such as:

Dividing 0 by 0

Taking the square root of a negative number (in some contexts)

Invalid operations in floating-point calculations

Summary:

math.nan is a special value to indicate an invalid or undefined number in calculations.

It is useful in scientific computing and data processing to signal missing or erroneous numerical data.

In [87]:
import math

math.nan

#not a number

nan

#### Code Explanation:
---
import math: Imports Python‚Äôs math module.

math.floor(200.34567): Returns the floor value of the number 200.34567.

Floor means rounding down to the nearest whole integer.

So, math.floor(200.34567) returns 200.

Summary:

The floor function always rounds a decimal number down to the closest integer.

Even if the decimal part is .999, it rounds down.

In [88]:
import math

math.floor(200.34567)

# floor value

200

#### Code Explanation:
---
import math: Imports Python‚Äôs math module.

math.ceil(300.999): Returns the ceiling value of the number 300.999.

Ceiling means rounding up to the nearest whole integer.

So, math.ceil(300.999) returns 301.

Summary:

The ceil() function always rounds a decimal number up to the closest integer.

Even if the decimal part is very small (e.g., 300.0001), it rounds up.

In [89]:
import math

math.ceil(300.999)

# ceil value

301

#### Code Explanation:
---
import math: Imports Python‚Äôs math module.

math.log(100): Calculates the natural logarithm (logarithm base e) of 100.

The natural logarithm is the power to which e (approximately 2.71828) must be raised to get the number.

So, math.log(100) answers: "e to the power of what equals 100?"

Summary:

math.log(x) returns the natural logarithm of x.

If you want the logarithm with base 10, use math.log10(x) instead.

In [90]:
import math

math.log(100)

4.605170185988092

#### Code Explanation:
---
import math: Imports Python‚Äôs math module.

math.sqrt(16): Calculates the square root of 16.

The square root of a number is a value that, when multiplied by itself, gives the original number.

So, the square root of 16 is 4 because 
4
√ó
4
=
16
4√ó4=16.

Summary:

Use math.sqrt(x) to find the square root of x.

It returns a floating-point number (decimal).

In [46]:
import math

math.sqrt(16)

4.0

#### Code Explanation:
---
import math: Imports Python‚Äôs math module.

math.pow(2, 3): Calculates 2 raised to the power of 3, which means 


This computes the cube of 2, i.e., 
2√ó2
√ó
2
=
8
........
2√ó2√ó2=8.

The result is returned as a floating-point number (8.0).

Summary:

math.pow(base, exponent) raises base to the power of exponent.

For integer powers, you can also use the ** operator, e.g., 2 ** 3.

In [47]:
import math

math.pow(2,3)

# cube of 2

8.0

#### Code Explanation:
---
a = [1, 2, 3, 4]: Creates a list containing the numbers 1, 2, 3, and 4.

10000 not in a: Checks if 10000 is NOT present in the list a.

Since 10000 is not in the list, this expression evaluates to True.

print() displays the result, so it will print True.

Summary:

The not in operator checks if an element is absent from a list (or other collections).

Returns True if the element is not found; otherwise False.

In [48]:
a = [1,2,3,4]

print(10000 not in a)

True

#### Code Explanation:
---
a = 5: Assigns the value 5 to variable a.

if a == 5: This is an if statement that checks if a is equal to 5.

The condition a == 5 evaluates to True because a is indeed 5.

If the condition is True, the indented block of code below the if statement runs.

print(a) will execute and print the value of a, which is 5.

Summary:

The if statement is used to run code based on a condition.

If the condition is True, the indented block of code under if will run.

In [49]:
a = 5

if a == 5:
    print(a)

5

#### Code Explanation:
---
a = 5: Assigns the value 5 to the variable a.

if a > 10000: Checks if a is greater than 10,000.

Since 5 is not greater than 10,000, the condition is False.

Because the condition is False, the code inside the else block will run.

print("false") will execute, so it will print false.

Summary:

The if statement checks a condition and runs the code inside it if the condition is True.

The else block runs if the condition is False.

In [50]:
a = 5

if a > 10000:
    print("true")

else:
    print("false")

false

#### Code Explanation:
---
a = 5: Assigns the value 5 to variable a.

if a > 0: Checks if a is greater than 0.

Since a = 5, which is greater than 0, the condition is True, so the code inside the if block runs.

Inside the if block:

a = a + 3: Adds 3 to a, changing the value of a from 5 to 8.

print(a): Prints the updated value of a, which is now 8.

The else block is not executed because the condition a > 0 was True.

Summary:

The if statement is used to check if a condition is True and run the code inside it.

If the condition is False, the code inside the else block will execute instead.

In this case, the condition was True, so the value of a was updated and printed as 8.

In [51]:
a = 5

if a > 0:
    a = a + 3
    print(a)

else:
    print(a)

8

#### Code Explanation:
---
a = 5: Assigns the value 5 to the variable a.

if a == 5: Checks if a is equal to 5.

This condition is True, so the code inside the if block runs.

a = a + 5: Increases the value of a by 5. Now a becomes 10.

print(a): Outputs the updated value of a, which is 10.

In [52]:
a = 5

if a == 5:
    a = a + 5
    print(a)

10

#### Code Explanation:
---
a = 5: The variable a is assigned the value 5.

if a == 1000: Checks if a is equal to 1000.

This condition is False because a is 5, not 1000.

Therefore, the code inside the if block is skipped.

print("outside of if-block"): This line is outside the if block and runs no matter what, so it prints:
....................
outside of if-block
...................

In [53]:
a = 5

if a == 1000:
    print("if statement is true")

print("outside of if-block")

outside of if-block

#### Code Explanation:
---
a = 5: Variable a is assigned the value 5.

if a == 3: This checks if a is equal to 3. It is False, so this block is skipped.

elif a == 5: This checks if a equals 5. It is True, so this block runs:

"elif statements get executed" is printed.

Then a is printed (which is 5).

The rest of the elif blocks are skipped after the first one is True.

In [54]:
a = 5

if a == 3:
    print(a+3)

elif a ==5:
    print("elif statements get executed")
    print(a)

elif a > 20:
    print("nested elif")

elif statements get executed
5

#### Code Explanation:
---
a = 5: Variable a is assigned the value 5.

if a > 200: Checks if a is greater than 200. This is False.

elif a < 0: Checks if a is less than 0. This is also False.

Since both conditions are false, the else block runs.
--------
#### Explanation of pass:
--------
pass is a placeholder statement in Python. It does nothing and is used when you need a block syntactically but don‚Äôt want it to do anything (yet).
-----------
else block statements get executed
5

In [55]:
a = 5

if a > 200:
    pass

elif a < 0:
    pass

else:
    print("else block statements get executed")
    print(a)

else block statements get executed
5

#### Code Explanation:
---
1. print(str.strip())

strip() removes leading and trailing spaces (spaces at the start and end).

#### ‚úÖ Output: "a chandra saibfg b c"
-------------

2. print(str.lstrip())

lstrip() removes only leading spaces (on the left).

#### ‚úÖ Output: "a chandra saibfg b c "
------------


3. print(str.replace("sai", "sekhar"))

Replaces every occurrence of "sai" with "sekhar".

"chandra saibfg" becomes "chandra sekharbfg".

#### ‚úÖ Output: " a chandra sekharbfg b c "
-----------

4. print(str.strip(' '))

Same as strip(). Here, ' ' (a space) is passed explicitly ‚Äî it removes spaces from both ends.

#### ‚úÖ Output: "a chandra saibfg b c"
----------------

5. print(str.split('a'))

Splits the string at every 'a', removing the 'a' and returning a list of parts.

#### ‚úÖ Output: A list like: [' ', ' ch', 'ndr', ' s', 'ibfg b c ']
----------------

6. print(str.split(' '))

Splits the string at every space. Since there are many consecutive spaces, it creates many empty strings.

#### ‚úÖ Output: A list with words and many '' (empty strings), like:

['', '', '', 'a', '', '', 'chandra', 'saibfg', '', '', 'b', '', '', '', 'c', '', '', '', '']
------------------

7. print(f"max value of str: {max(str)}")

Finds the max character based on Unicode (alphabetical and symbol order).

Since space (' ') has a low value, and 's' or 'r' have higher ones, it prints the highest character.

#### ‚úÖ Output: "max value of str: s"
----------------------

8. print(str)

Simply prints the original string.

#### ‚úÖ Output: ' a chandra saibfg b c '
-----------------------

9. print("minimum value", min(str.split()))

First: str.split() splits the string by default space (ignoring extra spaces).

Then: min() finds the smallest word alphabetically.

The words in the list will be: ['a', 'chandra', 'saibfg', 'b', 'c']

'a' is the smallest alphabetically.

#### ‚úÖ Output: "minimum value a"

In [56]:
str="   a   chandra saibfg   b    c    "
print(str.strip())
print(str.lstrip())
print(str.replace("sai", "sekhar"))
print(str.strip(' '))
print(str.split('a'))
print(str.split(' '))
print(f"max value of str: {max(str)}")
print(str)
print("minimum value",min(str.split()))

a   chandra saibfg   b    c
a   chandra saibfg   b    c
   a   chandra sekharbfg   b    c
a   chandra saibfg   b    c
['   ', '   ch', 'ndr', ' s', 'ibfg   b    c    ']
['', '', '', 'a', '', '', 'chandra', 'saibfg', '', '', 'b', '', '', '', 'c', '', '', '', '']
max value of str: s
   a   chandra saibfg   b    c
minimum value a

#### Code Explanation:
---
word = ['chandra', ':', 'sai']: This is a list of strings.

"_".join(word): This joins all elements in the list using the underscore (_) as a separator.

It creates one single string by placing _ between each item.

In [57]:
word = ['chandra', ':', 'sai']
"_".join(word)

'chandra_:_sai'

#### Code Explanation:
---
fruits is a list of strings: ["apple", "banana", "orange"].

if "chandra" in fruits:

Checks if "chandra" exists in the fruits list.

It does not, so this condition is False.

elif "cherry" in fruits:

Checks if "cherry" exists in the list.

It also does not, so this is False.

else:

Since none of the conditions were True, the else block is executed.

‚úÖ Output:
else block got executed

In [58]:
fruits = ["apple", "banana", "orange"]

if "chandra" in fruits:
    print("chandra is present in the list")

elif "cherry" in fruits:
    print("cherry is present in list")

else:
    print("else block got executed")

else block got executed

### List

#### Code Explanation:
---
a = [1, 2, 3, 4, 5, 6]: A list containing six numbers is assigned to variable a.

len(a): The built-in len() function returns the number of elements in the list.

‚úÖ Output:

6

In [59]:
a = [1,2,3,4,5,6]
len(a)

6

#### Code Explanation:
---
a = [1, 2, 3, 4, 5, 6]: A list with 6 numbers.

a[0:2]: This is called list slicing.

It extracts elements from index 0 up to but not including index 2.

So it grabs elements at index 0 and 1, which are 1 and 2.

In [60]:
a =[1,2,3,4,5,6]

a[0:2]

[1, 2]

#### Code Explanation:
---
a = [1, 2, 3, 4, 5, 6]: A list with 6 numbers.

a[:4] is a slice of the list.

When the start index is omitted, it means start from the beginning (index 0).

It selects elements from the beginning up to but not including index 4.

So it includes elements at indices 0, 1, 2, and 3 ‚Üí [1, 2, 3, 4].

In [61]:
a = [1,2,3,4,5,6]

a[:4]

[1, 2, 3, 4]

#### Code Explanation:
---
a is a list that contains different types of elements:

1, 2, 3 ‚Äî integers

"string content" ‚Äî a string

3+4j ‚Äî a complex number (has a real part 3 and imaginary part 4)

Python lists can store mixed data types in the same list.

In [62]:
a = [1,2,3, "string content", 3+4j]

a

[1, 2, 3, 'string content', (3+4j)]

#### Code Explanation:
---
a is a list of strings, each representing a name or job title.

a[0] accesses the first element of the list because Python uses zero-based indexing (indexing starts at 0).

So a[0] returns "chandra".

In [63]:
a = ["chandra", "sai", "AI Engineer", "ML Engineer", "Data Science Engineer"]

a[0]

'chandra'

#### Code Explanation:
---
a is a list of strings.

a[0:2] is list slicing.

It gets elements from index 0 up to but not including index 2.

So it returns the first two items: "chandra" and "sai".

In [64]:
a = ["chandra", "sai", "AI Engineer", "ML Engineer", "Data Science Engineer"]

a[0:2]

['chandra', 'sai']

#### Code Explanation:
---
a is a list of strings.

a[:4] is a slice that means "start from the beginning (index 0) up to but not including index 4".

So it returns the first 4 items: "chandra", "sai", "AI Engineer", and "ML Engineer".

In [65]:
a = ["chandra", "sai", "AI Engineer", "ML Engineer", "Data Science Engineer"]

a[:4]

['chandra', 'sai', 'AI Engineer', 'ML Engineer']

#### Code Explanation:
---
a[0:4:2] is extended slicing with three parts: start:stop:step

start = 0: start from index 0 (the first element)

stop = 4: go up to but not include index 4

step = 2: take every 2nd element (skip 1 element in between)

So it takes elements at indices:

0 ‚Üí "chandra"

2 ‚Üí "AI Engineer"

Elements at indices 1 and 3 are skipped.

In [66]:
a = ["chandra", "sai", "AI Engineer", "ML Engineer", "Data Science Engineer"]

a[0:4:2]

# starting index=== 0
# last index======= 4
# skip 2 elements from it

['chandra', 'AI Engineer']

#### Code Explanation:
---
a[::2] is a slice with start and stop omitted, and a step of 2.

This means:

Start from the beginning (index 0),

Go all the way to the end,

Take every 2nd element (skip one in between).

So it picks elements at indices: 0, 2, 4.

In [67]:
a = ["chandra", "sai", "AI Engineer", "ML Engineer", "Data Science Engineer"]

a[::2]

['chandra', 'AI Engineer', 'Data Science Engineer']

#### Code Explanation:
---
a[-1] uses negative indexing.

Negative indices start counting from the end of the list:

-1 means the last element,

-2 means the second last, and so on.

So a[-1] returns "Data Science Engineer", the last item in the list.

In [68]:
a = ["chandra", "sai", "AI Engineer", "ML Engineer", "Data Science Engineer"]

a[-1]
# last element

'Data Science Engineer'

#### Code Explanation:
---
a[-2] uses negative indexing to access the second last element of the list.

Negative indices count from the end:

-1 is the last element ("Data Science Engineer")

-2 is the second last element ("ML Engineer")

So, a[-2] returns "ML Engineer".

In [69]:
a = ["chandra", "sai", "AI Engineer", "ML Engineer", "Data Science Engineer"]

a[-2]

'ML Engineer'

#### Code Explanation:
---
a[::-1] uses slice notation with a step of -1.

This means:

Start from the end of the list,

Move backwards by one element at a time,

Continue until the beginning of the list.

So, it reverses the list without modifying the original.

Output:
['Data Science Engineer', 'ML Engineer', 'AI Engineer', 'sai', 'chandra']

In [70]:
a = ["chandra", "sai", "AI Engineer", "ML Engineer", "Data Science Engineer"]

a[::-1]
# print in reverse order

['Data Science Engineer', 'ML Engineer', 'AI Engineer', 'sai', 'chandra']

#### Code Explanation:
---
a = [1] is a list with a single element 1.

a * 2 repeats the list twice.

So it creates a new list where the elements of a are repeated two times in a row.

Output:
[1, 1]

In [71]:
a = [1]

a * 2

# repeated elements twice

[1, 1]

#### Code Explanation:
---
a is a list containing three elements: [1, 2, 3].

a * 2 repeats the entire list twice.

It creates a new list where the sequence [1, 2, 3] appears twice, back to back.

Output:
[1, 2, 3, 1, 2, 3]

In [72]:
a = [1,2,3]

a * 2

# repeated elements twice

[1, 2, 3, 1, 2, 3]

#### Code Explanation:
---
a = [1, 2, 3]: This is a list with three elements.

a.append("new element"):

The .append() method adds a new item at the end of the list.

Here, "new element" is added as the last item.

After appending, a becomes [1, 2, 3, "new element"].

Output:
[1, 2, 3, 'new element']

In [73]:
a = [1,2,3]

a.append("new element")
# add element into list

a

[1, 2, 3, 'new element']

#### Code Explanation:
---
a = [1, 2, 3]: List with three numbers.

a.append([4, 5, 6]): The .append() method adds the entire list [4, 5, 6] as a single element to the end of a.

So after this, a becomes: [1, 2, 3, [4, 5, 6]].

Notice the last element is a nested list (a list inside a list).

In [74]:
a = [1,2,3]

a.append([4,5,6])

a

[1, 2, 3, [4, 5, 6]]

#### Code Explanation:
---
a = [1, 2, 3, 4, 5, 6]: A list with six elements.

a.pop(0):

The .pop() method removes and returns the element at the specified index.

Here, 0 means the first element (1) will be removed.

After popping, the list a becomes [2, 3, 4, 5, 6].

The removed element 1 is returned by .pop(0), but if you don't assign it to a variable or print it, it will just be discarded.

In [75]:
a = [1,2,3,4,5,6]

# pop ....zero index
a.pop(0)
a

[2, 3, 4, 5, 6]

### Tuple

#### Code Explanation:
---
a = (1, 2, 3, 4, 5, 6) creates a tuple with 6 elements.

Tuples are similar to lists but are immutable (cannot be changed after creation).

type(a) returns the data type of a.

Since a is enclosed in parentheses (), Python treats it as a tuple.

In [76]:
a = (1,2,3,4,5,6)

type(a)

tuple

#### Code Explanation:
---
a is a tuple containing 4 string elements.

a[:2] is a slice that gets elements from the start (index 0) up to but not including index 2.

So it returns the first two elements: "first" and "second".

Slicing works the same way for tuples as it does for lists.
Output:
('first', 'second')

In [77]:
a = ("first", "second", "third","four")

a[:2]

('first', 'second')

#### Code Explanation:
---
a is a tuple with 4 elements.

a[-1] uses negative indexing to access the last element in the tuple.

Negative indices count from the end:

-1 is the last element ("four"),

-2 would be the second last, and so on.

So a[-1] returns "four".

Output:
'four'

In [78]:
a = ("first", "second", "third","four")

a[-1]

'four'

#### Code Explanation:
---
a is a tuple with 4 elements.

a[::-1] uses slice notation with a step of -1, meaning:

Start from the end,

Move backwards one element at a time,

Continue until the beginning.

This returns a new tuple with elements in reverse order.

Output:
('four', 'third', 'second', 'first')

In [79]:
a = ("first", "second", "third","four")

a[::-1]
# print in reverse order

('four', 'third', 'second', 'first')

#### Code Explanation:
---
t is a string containing mixed uppercase and lowercase letters.

t.lower() returns a new string where all characters are converted to lowercase.

The original string t remains unchanged because strings are immutable.

print(t.lower()) outputs the lowercase version of the string.

Output:
abxcdfbnght

In [80]:
t = "ABXCDFbnght"
t.lower()
print(t.lower())

#converted to LOWER CASE

abxcdfbnght

#### Code Explanation:
---
t is a string with all lowercase letters.

t.upper() converts all letters in the string to uppercase.

print(t.upper()) prints the uppercase version.

The original string t remains unchanged since strings are immutable.

Output:
ABCDEFGHIJK

In [81]:
t = "abcdefghijk"
print(t.upper())

# converted to UPPER CASE

ABCDEFGHIJK

#### Code Explanation:
---
t is a string "Hello World" with two words separated by a space.

t.split(' ') splits the string into a list of substrings using the space ' ' as the separator.

The result sliced is a list: ['Hello', 'World'].

This is useful to break a sentence or text into words.

Output:
['Hello', 'World']

In [82]:
t = "Hello World"
sliced = t.split(' ')

print(sliced)

# split data based on white-space

['Hello', 'World']

#### Code Explanation:
---
t is a string "Hello,World" where two words are separated by a comma.

t.split(',') splits the string into a list of substrings using the comma , as the separator.

The result sliced is a list: ['Hello', 'World'].

This lets you separate text based on commas or any other character you specify.

Output:
['Hello', 'World']

In [83]:
t = "Hello,World"
sliced = t.split(',')

print(sliced)

#split() ....the data based on comma

['Hello', 'World']

#### Code Explanation:
---
a = "first statement" initializes a string variable a.

a + " second-statement" concatenates (joins) the original string with " second-statement".

The result is assigned back to a, updating the variable to the combined string.

print(a) outputs the combined string.

Output:
first statement second-statement

In [84]:
a ="first statement"
a = a + " second-statement"

print(a)

# concatenate two strings

first statement second-statement

#### Code Explanation:
---
a is a tuple with 4 elements.

The slice a[0:3:2] means:

Start at index 0 (the first element: "first"),

Go up to (but not including) index 3 ("four" is at index 3, so stop before that),

Step by 2, which means take every second element.

So it takes elements at index 0 and 2: "first" and "third".

The element at index 1 ("second") is skipped because of the step 2.

Output:
('first', 'third')

In [85]:
a = ("first", "second", "third","four")

a[0:3:2]

# skip "second element" every time

('first', 'third')

#### Code Explanation:
---
a is a tuple with 10 string elements.

len(a) returns the total number of elements in the tuple, which is 10.

print("total elements length", len(a)) outputs:

total elements length 10


The slice a[0:9:2] means:

Start from index 0 (element "first"),

Go up to (but not including) index 9 (element "nine"),

Step by 2, which means pick every second element.

This skips every other element starting from the first one.

Output of the slice:
('first', 'third', 'five', 'seven', 'nine')

In [86]:
a = ("first", "second", "third","four","five", "six", "seven", "eight", "nine", "ten")
print("total elements length",len(a))
a[0:9:2]
#skip second element every time

total elements length 10

('first', 'third', 'five', 'seven', 'nine')

### Dictionary

#### Code Explanation:
---
d is a dictionary in Python.

A dictionary stores key-value pairs.

Here, 'key' is the key (a string), and [1, 2, 3, 4] is the value (a list).

So d holds one entry where 'key' maps to the list [1, 2, 3, 4].

Dictionaries are useful for associating unique keys with data values.

Output:
{'key': [1, 2, 3, 4]}

In [87]:
d = {'key': [1,2,3,4]}

d

{'key': [1, 2, 3, 4]}

#### Code Explanation:
---
d["key"] accesses the value associated with the key "key" in the dictionary d.

Since earlier you defined:

d = {'key': [1, 2, 3, 4]}


this will return the list [1, 2, 3, 4].

In [88]:
d["key"]

[1, 2, 3, 4]

#### Code Explanation:
---
In Python dictionaries, keys must be unique.

If you try to create a dictionary with duplicate keys, Python will keep only the last value assigned to that key.

Here, you defined 'key' twice:

First: 'key': [1, 2, 3, 4]

Then: 'key': [5, 6, 7, 8]

Python replaces the first 'key' value with the second one.

So, the dictionary d actually becomes:

{'key': [5, 6, 7, 8]}

Output:
{'key': [5, 6, 7, 8]}

In [89]:
#get latest 'key' in "dictionary"
d = {'key': [1,2,3,4],
     'key': [5,6,7,8]}

d
# key has 1,2,3,4 ....these are replaced
 # python avoid duplicates in dictionary and replaces it last modified 'key'

{'key': [5, 6, 7, 8]}

#### Code Explanation:
---
d is a dictionary with two keys: 'key1' and 'key2'.

d.items (without parentheses) is just a reference to the method itself, not executed yet.

d.items() (with parentheses) calls the method and returns a view object containing all the dictionary‚Äôs key-value pairs as tuples.

Each item is a tuple like: ('key1', ["string1", "string2"]).

What happens:

d.items ‚Üí refers to the method object (no output useful for data)

d.items() ‚Üí returns something like:

dict_items([('key1', ['string1', 'string2']), ('key2', [1, 2, 3, 4, 5, 6])])

In [90]:
# print items in "dictionary"
d = {'key1': ["string1", "string2"],
     'key2': [1,2,3,4,5,6]
}

d.items
d.items()

dict_items([('key1', ['string1', 'string2']), ('key2', [1, 2, 3, 4, 5, 6])])

#### Code Explanation:
---
d.keys() is a method that returns a view object containing all the keys in the dictionary d.

It doesn‚Äôt return a list, but behaves like a set of keys that you can iterate over.

You can convert it to a list if you want to print keys as a list.

Example Output:
dict_keys(['key1', 'key2'])

In [91]:
#print keys in "dictionary"
d = {'key1': ["string1", "string2"],
     'key2': [1,2,3,4,5,6]
}

d.keys()
# print keys

dict_keys(['key1', 'key2'])

#### Code Explanation:
---
d.values() is a method that returns a view object containing all the values in the dictionary d.

Values are what each key in the dictionary points to.

It doesn‚Äôt return a list but behaves like a collection of the dictionary‚Äôs values.

You can convert it to a list if you want to see all values at once.

Example Output:
dict_values([['string1', 'string2'], [1, 2, 3, 4, 5, 6]])

In [92]:
d = {'key1': ["string1", "string2"],
     'key2': [1,2,3,4,5,6]
}

d.values()
#it returns all the values

dict_values([['string1', 'string2'], [1, 2, 3, 4, 5, 6]])

#### Code Explanation:
---
del d['key2'] deletes the key 'key2' and its associated value from the dictionary d.

After this operation, the dictionary d only contains 'key1' and its value.

del is a Python keyword used to remove variables, dictionary keys, list elements, etc.

Output:
{'key1': ['string1', 'string2']}

Summary:

Use del dict[key] to remove a key-value pair from a dictionary.

Trying to delete a key that doesn‚Äôt exist will raise a KeyError.

To avoid errors, you can check if the key exists before deleting.

In [93]:
# delete dictionry
d = {'key1': ["string1", "string2"],
     'key2': [1,2,3,4,5,6]
}

del d['key2']
# delete key2

d

{'key1': ['string1', 'string2']}

#### Code Explanation:
---
monuments is a dictionary inside a dictionary ‚Äî also called a nested dictionary.

The outer dictionary has one key: "Taj Mahal".

The value for "Taj Mahal" is another dictionary: {"Location": "Agra", "Year": 1632}.

To access "Year" inside this nested dictionary, you use two keys:

First, get the value for "Taj Mahal": monuments["Taj Mahal"] ‚Üí {"Location": "Agra", "Year": 1632}

Then, get "Year" from that dictionary: ["Year"]

So, monuments["Taj Mahal"]["Year"] gives you 1632.

Output:
1632

In [94]:
# Dictionary within Dictionary

monuments={"Taj Mahal":{"Location":"Agra","Year":1632}}

monuments["Taj Mahal"]["Year"]

1632

#### Code Explanation:
---
lang is a dictionary with states as keys and their languages as values.

The .get() method is used to retrieve the value for a given key.

Syntax: dictionary.get(key, default_value)

Here, "Goa" is not a key in the dictionary.

So, instead of causing an error like lang["Goa"] would, .get() returns the default value "Not Available".

This helps avoid errors when the key might be missing.

Output:
'Not Available'

Summary:

.get() safely fetches the value for a key.

If key is missing, returns the specified default instead of raising an error.

Very useful when working with uncertain dictionary data.

In [95]:
# get() function in "dictionary"
lang={"karnataka":"Kannada","Andhra Pradesh":"Telugu"}

lang.get("Goa","Not Available")

'Not Available'

#### Code Explanation:
---
The .pop() method removes a key from the dictionary and returns its value.

Here, "UK" is removed from capitals.

After pop, "UK": "London" is deleted from the dictionary.

It‚Äôs a safe way to remove a key and use the removed value if needed.

If the key doesn‚Äôt exist, .pop() will raise a KeyError unless a default value is provided as the second argument.

Output:
uk information got deleted
{'India': 'Delhi', 'Andhra Pradesh': 'Amaravati'}

Summary:

.pop(key) removes and returns the value for key.

Use it to delete entries while optionally using the removed value.

To avoid errors, you can provide a default value like .pop(key, default).

In [96]:
#pop() function in "dictionary"

capitals={"India":"Delhi","Andhra Pradesh":"Amaravati","UK":"London"}
capitals.pop("UK")
print("uk information got deleted")
print(capitals)

uk information got deleted
{'India': 'Delhi', 'Andhra Pradesh': 'Amaravati'}

#### Code Explanation:
---
The .popitem() method removes and returns the last inserted key-value pair from the dictionary.

Since Python 3.7+, dictionaries remember the order of insertion.

So, .popitem() removes the most recently added item.

It returns the removed item as a tuple (key, value).

If the dictionary is empty, calling .popitem() raises a KeyError.

Example:
capitals = {"India": "Delhi", "Andhra Pradesh": "Amaravati", "UK": "London"}

removed_item = capitals.popitem()
print("Removed:", removed_item)
print("Remaining dict:", capitals)


Possible Output:

Removed: ('UK', 'London')
Remaining dict: {'India': 'Delhi', 'Andhra Pradesh': 'Amaravati'}

Summary:

Use .popitem() to remove the last added key-value pair from a dictionary.

Useful for stack-like behavior or when order matters.

Raises error if dictionary is empty.

In [97]:
# delete the popitem() in dictionary

capitals.popitem()

('Andhra Pradesh', 'Amaravati')

#### Code Explanation:
---
The .clear() method removes all items from the dictionary, making it empty.

After calling capitals.clear(), the dictionary capitals becomes {}.

The .clear() method does not return anything (returns None), so printing capitals.clear() will print None.

You only need to call .clear() once to empty the dictionary.

Example:
capitals = {"India": "Delhi", "Andhra Pradesh": "Amaravati", "UK": "London"}

capitals.clear()
print(capitals)         # Prints: {}
print(capitals.clear()) # Prints: None

#### Output:
{}
None
------
#### Summary:

.clear() empties the dictionary.

It changes the dictionary in place.

It returns None ‚Äî don‚Äôt expect any output when you print the result of .clear().

In [98]:
# clear() function in dictionary

capitals.clear()
print(capitals.clear())

None

#### Code Explanation:
---
states and capital are two separate lists.

zip(states, capital) pairs elements from both lists based on their positions.

Example: ("Rajasthan", "Jaipur"), ("Assam", "Dispur"), etc.

list(zip(states, capital)) converts these pairs into a list of tuples.

dict(zip(states, capital)) converts the zipped pairs into a dictionary, where:

Each element from states becomes a key.

Each corresponding element from capital becomes the value for that key.

This is a common way to create a dictionary when you have two related lists.

Output:
sample list:  [('Rajasthan', 'Jaipur'), ('Assam', 'Dispur'), ('Bihar', 'Patna')]
sample dictionary {'Rajasthan': 'Jaipur', 'Assam': 'Dispur', 'Bihar': 'Patna'}

Summary:

zip() pairs items from multiple lists.

dict(zip()) quickly creates dictionaries from two lists.

Useful for mapping related data like states and their capitals.

In [99]:
#convert two lists into Dictionary

states=["Rajasthan","Assam","Bihar"]
capital=["Jaipur","Dispur","Patna"]

zip(states,capital)
list(zip(states,capital))
print("sample list: ",list(zip(states,capital)))
print("sample dictionary",dict(zip(states,capital)))

sample list:  [('Rajasthan', 'Jaipur'), ('Assam', 'Dispur'), ('Bihar', 'Patna')]
sample dictionary {'Rajasthan': 'Jaipur', 'Assam': 'Dispur', 'Bihar': 'Patna'}

#### Code Explanation:
---
This defines a function named factorial that calculates the factorial of a number using recursion.

Factorial of a number n (written as n!) is the product of all positive integers from 1 to n.

Special case: 0! is defined as 1.

How the function works:

Base Case:

When number == 0, it returns 1.

This stops the recursion.

Recursive Case:

For any other number, it returns number * factorial(number - 1).

This means the function calls itself with a smaller number, multiplying the current number by the factorial of one less than it.

In [100]:
def factorial(number):
    if number==0:
        return 1
    else:
        return number * factorial(number-1) 

factorial(0)        

# function

1

In [101]:
factorial(5)

120

#### Code Explanation:
---

You're passing a string ("3") instead of an integer to the factorial function.

Problem:

The function expects a number (int), but "3" is a string.

When Python tries to evaluate "3" == 0 or "3" - 1, it will raise a TypeError.

In [102]:
factorial("3")

TypeError: unsupported operand type(s) for -: 'str' and 'int'

#### Code Explanation:
---
In Python, you can write a single-line comment using the # symbol. Anything written after # on that line will be ignored by the Python interpreter.

In [103]:
#single comment line

#### Code Explanation:
---
‚úÖ 1. # function definition

This is a comment.

The # symbol tells Python to ignore this line.

It‚Äôs used here to indicate that the next block defines a function.

‚úÖ 2. def add(num1, num2):

def is the keyword used to define a function.

add is the name of the function. You can call it anything, but names should be meaningful.

(num1, num2) are the parameters of the function ‚Äî they accept values when the function is called.

: marks the beginning of the function's body (the indented block that follows).

‚úÖ 3. return num1 + num2

This is the body of the function.

The return statement sends the result of num1 + num2 back to the caller.

In this case, it adds the two numbers passed in and returns the sum.

For example, if num1 = 5 and num2 = 5, the function returns 10.

‚úÖ 4. # function calling

Another comment, used here to label the part of the code where the function is being called.

‚úÖ 5. add(5, 5)

This is a function call.

You're passing two arguments: 5 and 5 to the add() function.

Internally, num1 = 5 and num2 = 5.

It returns 10, but since you‚Äôre not using print() or assigning it to a variable, the result is computed and discarded.

üîÅ To See the Output

If you want to see the result, you should either:

Print it:

print(add(5, 5))  # Output: 10


Or store it in a variable:

result = add(5, 5)
print(result)     # Output: 10

In [104]:
# function definition
def add(num1,num2):
    return num1 + num2

#function calling
add(5,5)

10

#### Code Explanation:
---
üìå def function():

def: Keyword used to define a function.

function: The name of your function (not a good name in practice ‚Äî more on that later).

():: Parentheses indicate that the function takes no parameters.

:: Starts the indented block (the body of the function).

üìå """ doc string ... """

This is a docstring ‚Äî short for documentation string.

‚úÖ What is a docstring?

It's a string literal that appears as the first statement in a function, class, or module.

Python uses this string as official documentation.

In [105]:
def function():
    """ 
     doc string 
    
    to describe the purpose of function
    """
    pass 

function()

In [106]:
# interpreter encounters "pass" keyword, it does nothing and moves on to the next line.

In [107]:
#function definition 
def add(number1, number2):
    """ it takes two arguments
    first parameter: number1
    second parameter: number2

    Returns: finally adds the two number and returns the output
    """
    return number1 + number2 # function definition ends here

#function calling....to execute the function
add(20, 5)

25

#### Code Explanation:
---
*args collects all positional arguments passed to the function into a tuple.

You then convert args to a list (which is not necessary in this case) and iterate through it.

Each argument is printed one by one.

In [108]:
#args .....within function()
def argument_function(*args):
    for i in list(args):
        print(i)


argument_function(2,3,4,5)

2
3
4
5

#### Code Explanation:
---
*args allows the function to accept a variable number of arguments.

sum is initialized to 0.

The function iterates over all the values in args and adds them.

Finally, it prints the result.

üí° Output:
sum of all values 21

In [109]:
def add_arguments(*args):
    sum=0
    for i in args:
        sum+=i
    print("sum of all values",sum)    

add_arguments(1,2,3,4,5,6)

sum of all values 21

#### Code Explanation:
---
üí° Example Use-Cases for **kwargs:

Flexible APIs

Logging or debugging info

Passing config settings dynamically

In [110]:
#kwargs.....
def function(**kwargs):
    return kwargs

function(name="chandra",email_id="chandrasekharcse522@gmail.com")

{'name': 'chandra', 'email_id': 'chandrasekharcse522@gmail.com'}

#### Code Explanation:
---
Lambda Functions in Python
What is a lambda function?

A lambda function is a small anonymous function (a function without a name).

It can take any number of arguments but only has one expression.

The expression is evaluated and returned automatically.

Syntax of lambda function
lambda arguments: expression


lambda is the keyword.

arguments is a comma-separated list of parameters.

expression is a single expression (no statements allowed).
Output: The result 6 is returned.

In [111]:
#lambda

func= lambda x: x+1

#pass value to func()
func(5)

6

#### Code Explanation:
---
lambda a, b:
This lambda function takes two parameters: a and b.

a + b
The expression returns the sum of a and b.

func2(5, 5)
Calling the function with arguments 5 and 5, so it returns 5 + 5 = 10.

print(result)
Prints the output, which is 10.

In [112]:
#lambda
func2 = lambda a,b : a+b

func2(5,5)

10

#### Code Explanation:
---
lambda a:
This defines a lambda function with one parameter a.

a ** 2
This is the expression that calculates the square of a (i.e., a raised to the power 2).

func3(5)
Calls the lambda function with argument 5.

The function computes 
 and returns 25.

print(result) outputs the result, which is 25.

In [113]:
#lambda
#square of the function()
func3= lambda a: a**2

func3(5)

25

#### Code Explanation:
---
lambda a, b: defines an anonymous function with two parameters a and b.

a if a > b else b is a conditional expression:

Returns a if a is greater than b

Returns b otherwise

The function effectively returns the maximum of the two numbers.

#### Equivalent to a simple max() function.
---
Passes 5 as a and 27 as b

Evaluates: 5 > 27 ‚Üí False

Returns 27

‚úÖ Final Output: 27

In [114]:
#lambda
#max value
func4 = lambda a,b: a if a>b else b

func4(5,27)

27

#### Code Explanation:
---
This is a lambda function to return the minimum of two numbers.

Parameters: a, b

Logic:

If a > b, then b is smaller ‚Üí return b

Else ‚Üí return a

It acts like: min(a, b)
a = 27, b = 3

Check: 27 > 3 ‚Üí ‚úÖ True ‚Üí return b ‚Üí 3

‚úÖ Final Output: 3

In [ ]:
#lambda
#min value
func5= lambda a,b: b if a>b else a


func5(27,3)

In [115]:
# how the code gets executed?

print("number1")
print("second number")
for i in range(3):
    print(i)
print("third number")

number1
second number
0
1
2
third number

#### Code Explanation:
---
df1 = 5 assigns the integer 5 to variable df1

type(df1) returns the data type of df1
‚úÖ Output:
<class 'int'>

In [116]:
df1 = 5
type(df1)

int

In [118]:
del str

#### Code Explanation:
---
‚úÖ Output:
<class 'str'>

In [119]:
# type conversion
# convert integer to string

vari = str(df1)
type(vari)

str

#### Code Explanation:
---
The program waits for you to type input after showing enter number.

Whatever you type (as a string) is stored in b1.

Then it prints that input back to the screen.

In [120]:
b1= input("enter number")
print(b1)

20

#### Code Explanation:
---
You can‚Äôt add an integer (int) and a string (str) directly in Python. This causes a TypeError:

In [121]:
a1 = 20
a1 + b1

# type(b)====str
#trying to add int and str

TypeError: unsupported operand type(s) for +: 'int' and 'str'

#### Code Explanation:
---
input() always returns a string.

So, type(xyz) will be <class 'str'> no matter what you enter.

In [122]:
xyz= input("enter user input")
print("given input",xyz)

type(xyz)

print("data type :", type(xyz))

given input 123
data type : <class 'str'>

#### Code Explanation:
---
input("Enter number: ") shows the prompt and waits for user input.

int() converts the input string into an integer.

Then you add a and b (both integers) and print the sum.

In [123]:
a=20
#input()....... asking user to "enter a number"
b= int(input("Ener number")) # converted it into integer
print("b data type is",type(b))
print(a + b)

b data type is <class 'int'>
35

#### Code Explanation:
---
list(v) converts the string into a list where each character is an element.

The first call list(v) is not saved or printed, so it does nothing visible.

The second print(...) actually shows the converted list.

In [124]:
v= "chandra"
print(type(v))
print(v)
list(v)
print("converted to list data type",list(v))

<class 'str'>
chandra
converted to list data type ['c', 'h', 'a', 'n', 'd', 'r', 'a']

#### Code Explanation:
---
The f before the string allows you to embed variables inside {}.

name and title are replaced by their values in the output.

It's a clean and readable way to format strings.

In [125]:
name=" chandra"
title="AI Engineer"
print(f"my name is: {name} and my profession is: {title}")

my name is:  chandra and my profession is: AI Engineer

#### Code Explanation:
---
input() reads the expression as a string (e.g., "3 + 7").

eval() interprets that string as Python code and computes the result.

The result is printed (e.g., 10).

In [127]:
expression = input("Enter expression")
result = eval(expression)
print(result)

# Enter expression   3 + 7
#given input is string data type
# eval ()

10

#### Code Explanation:
---
result will be the output of the evaluated expression, so its type depends on what you input.

In [128]:
type(result)

int

#### Code Explanation:
---
eval("2 * 5") evaluates the string "2 * 5" as a Python expression.

It calculates 2 * 5, which equals 10.

So, a will be assigned the value 10.

In [129]:
a = eval("2 * 5")
a

10

#### Code Explanation:
---
eval("3 + 5") evaluates the expression inside the string.

It calculates 3 + 5 which equals 8.

The value 8 is assigned to a.

In [130]:
a = eval("3 + 5")
a

8

#### Code Explanation:
---
eval("2 + 3 + 5") evaluates the expression inside the string.

It calculates 2 + 3 + 5 which equals 10.

The value 10 is assigned to a.

In [131]:
a = eval("2 + 3 + 5")
a

10

#### Code Explanation:
---
eval("2 * 4 * 10") evaluates the multiplication expression inside the string.

It calculates 2 * 4 * 10 which equals 80.

The value 80 is assigned to a.

In [132]:
a = eval("2 * 4 * 10")
a

80

#### Code Explanation:
---
eval("100 / 5") evaluates the division expression inside the string.

It calculates 100 / 5 which equals 20.0.

The value 20.0 (a float) is assigned to a.

In [133]:
a = eval("100 / 5")
a

20.0

#### Code Explanation:
---
len() returns the number of characters in a string.

"hello world" has 11 characters (including the space).

In [134]:
len("hello world")

11

#### Code Explanation:
---
eval("len('hello world')") evaluates the function call inside the string.

len('hello world') returns 11, which is an integer.

So, b is assigned the value 11.

type(b) confirms that b is an int.

In [135]:
b= eval("len('hello world')")
print(b)
type(b)

11

int

### for loop

#### Code Explanation:
---
a is a list of numbers from 1 to 6.

The for loop iterates over each element in the list.

print(i) prints each element one by one.

In [136]:
a = [1,2,3,4,5,6]

for i in a:
    print(i)

1
2
3
4
5
6

#### Code Explanation:
---
t is a tuple containing the numbers 1 to 4.

The for loop iterates over each element in the tuple.

print(i) prints each element on a new line.

In [137]:
t = (1,2,3,4)

for i in t:
    print(i)

1
2
3
4

#### Code Explanation:
---
fruits is a list of fruit names.

enumerate(fruits) returns pairs of (index, element) for each item.

The loop prints the index and the fruit.

In [138]:
fruits = ['apple', 'banana', 'grapes']

for index, i in enumerate(fruits):
    print(index,i)

0 apple
1 banana
2 grapes

#### Code Explanation:
---
Iterates over numbers 1 to 10.

Checks if each number is even (i % 2 == 0).

Adds even numbers to sum.

Prints the total sum of even numbers.

In [139]:
# function to print even numbers

def even_number_sum():
    sum=0
    numbers = [1,2,3,4,5,6,7,8,9,10]
    for i in numbers:
        if i%2==0:
         sum+=i
    print(sum) 

even_number_sum()

30

#### Code Explanation:
---
text is the input string.

target_value is the character you want to find the last position of ('a').

counter stores the index of the last match.

The loop goes through each character by index.

When a character matches target_value (after converting to lowercase), it updates counter.

After the loop, counter holds the index of the last occurrence.

In [140]:
#last occurence of target character
text = "iT is a text CONTENT and prints a value"
target_value='a'
counter = 0
print("length:",len(text))
for i in range(len(text)):
    if text[i].lower()==target_value:
        counter=i
        


print(counter)

length: 39
35

#### Code Explanation:
---
range(1, 50) generates numbers from 1 to 49.

Each number is added to sum.

Finally, the total sum is printed.

In [141]:
#sum of all numbers within range of 50
sum=0
for i in range(1,50):
    sum=sum + i
print(f"the total sum is:{sum}")

the total sum is:1225

#### Code Explanation:
---
Loops through numbers 1 to 49.

Adds only the even numbers (i % 2 == 0) to sum.

Prints the final sum.

In [142]:
#sum of all even numbers within range of 50
sum=0
for i in range(1,50):
    if i%2==0:  #even number condition
        sum+=i
print(f"sum of all even numbers within range of 50:{sum}")

sum of all even numbers within range of 50:600

#### Code Explanation:
---
Iterates from 1 to 49.

Adds numbers to sum only if they are odd (i % 2 != 0).

Prints the total sum of odd numbers.

In [143]:
#sum of all odd numbers within range of 50
sum=0
for i in range(1,50):
    if i%2!=0:  #odd number condition
        sum+=i
print(f"sum of all odd numbers within range of 50:{sum}")

sum of all odd numbers within range of 50:625

#### Code Explanation:
---
Loop over numbers 1 to 49.

When you find the first even number (i % 2 == 0), store it in position.

Use break to stop after the first even number.

Print the result.

In [144]:
# first index of even integer within range of 50
position=0
for i in range(1,50):
    if i%2==0:
        position=i
        break
print(f"the first index of even integer is {position}")

the first index of even integer is 2

#### Code Explanation:
---
print the last index of even number

In [146]:
# last index of  even integer within range of 50
position=0
for i in range(1,50):
    if i%2==0:
        position=i
        continue
print(f"the last index of even integer is {position}")

the last index of even integer is 48

#### Code Explanation:
---
The first odd integer is 1

In [148]:
# first index of odd integer within range of 50
position=0
for i in range(1,50):
    if i%2!=0:
        position=i
        break
print(f"the first index of odd integer is {position}")

the first index of odd integer is 1

#### Code Explanation:
---
The last odd integer is 49

In [149]:
# last index of odd integer within range of 50
position=0
for i in range(1,50):
    if i%2!=0:
        position=i
        continue
print(f"the last index of odd integer is {position}")

the last index of odd integer is 49

#### Code Explanation:
---
range(1, 50) generates numbers from 1 to 49.

The loop checks each number.

The first number that satisfies i % 2 == 0 is 2.

The loop breaks after finding it.

In [150]:
# print the first even integer within range of 50
first_even_integer = 0
for i in range(1,50):
    if i%2==0:
        first_even_integer= i
        break
print(first_even_integer)

2

#### Code Explanation:
---
range(1, 50) generates numbers from 1 to 49.

The first number that satisfies i % 2 != 0 is 1.

The loop breaks right after finding it.

In [151]:
# print the first odd integer within range of 50
first_odd_integer = 0
for i in range(1,50):
    if i%2!=0:
        first_odd_integer= i
        break
print(first_odd_integer)

1

#### Code Explanation:
---
Loops from 1 to 49.

Each time it finds an even number (i % 2 == 0), it stores it in last_even_integer.

By the end of the loop, last_even_integer holds the last even number before 50.

In [ ]:
# print the last even integer within range of 50
last_even_integer = 0
for i in range(1,50):
    if i%2==0:
        last_even_integer= i
        continue
print(last_even_integer)

#### Code Explanation:
---
The loop checks numbers from 1 to 49.

It updates last_odd_integer every time an odd number is found.

After the loop ends, last_odd_integer holds the last odd number in the range.

In [152]:
# print the last odd integer within range of 50
last_odd_integer = 0
for i in range(1,50):
    if i%2!=0:
        last_odd_integer= i
        continue
print(last_odd_integer)

49

#### Code Explanation:
---
Loops through numbers from 5 to 14.

Checks if each number is greater than 1 (since 0 and 1 are not prime).

For each number, it tries dividing by all numbers from 2 to num - 1.

If any divisor is found (num % i == 0), it breaks (not prime).

If no divisor is found, the else block executes ‚Äî meaning the number is prime, and it gets printed.

In [153]:
# print prime numbers
for num in range(5,15):
    if num > 1:
        for i in range(2, num):
            if num%i == 0:
                break
        else:
            print(num)

5
7
11
13

#### Code Explanation:
---
Take the last digit: 1

Add it to reverse: reverse = 0 * 10 + 1 = 1

Next digit: 0, reverse becomes 1 * 10 + 0 = 10

Next: 10 * 10 + 9 = 109, and so on...

In [154]:
#reverse a number
number= 678901
reverse=0
while number > 0:
    remainder = number%10
    reverse= remainder+(reverse * 10)
    number = number//10

print(reverse)

109876

#### Code Explanation:
---
Takes the number 123456

Extracts each digit using % 10

Adds each digit to sum

Removes the last digit using // 10

Prints the total sum of the digits

In [155]:
# print all the digits within a number
sum=0
number= 123456
while number>0:
    remainder=number%10
    sum+= remainder
    number//=10
print(sum)

21

#### Code Explanation:
---
Imports the datetime module.

Calls datetime.datetime.now() to get the current local date and time.

Prints it in the default format: YYYY-MM-DD HH:MM:SS.microseconds

In [156]:
#print datetime
import datetime

print(datetime.datetime.now())

2025-10-22 06:22:30.117203

#### Code Explanation:
---
Imports the datetime module.

Calls datetime.date.today() to get the current date (year-month-day).

Prints it in the format YYYY-MM-DD.

In [ ]:
#print date
import datetime

print(datetime.date.today())

#### Code Explanation:
---
datetime.date.today() gets today‚Äôs date.

.day extracts the day part (1 to 31).

Prints the day number.

In [157]:
#print day
import datetime

print(datetime.date.today().day )

22

#### Code Explanation:
---
datetime.date.today() gets today‚Äôs date.

datetime.timedelta(days=7) creates a time difference of 7 days.

Adding them gives the date 7 days from now.

Prints that future date.

In [158]:
# add 7 days to the current date
import datetime

 
print(datetime.date.today() + datetime.timedelta(days=7))

2025-10-29

#### Code Explanation:
---
Gets today‚Äôs date.

Subtracts 30 days using timedelta(days=30).

Prints the resulting date.

In [159]:
#print last month
import datetime

last_month = datetime.date.today() - datetime.timedelta(days=30)
print(last_month)

2025-09-22

#### Code Explanation:
---
Gets the current local date and time with datetime.datetime.now().

Extracts the hour part using .hour.

Prints the hour as an integer (0 to 23).

In [160]:
#print hour
import datetime

print(datetime.datetime.now().hour)

6

#### Code Explanation:
---
Gets current local date and time with datetime.datetime.now().

Extracts the minute part using .minute.

Prints the minute (0 to 59).

In [161]:
#print minute
import datetime

print(datetime.datetime.now().minute)

28

#### Code Explanation:
---
Gets current local date and time using datetime.datetime.now().

Extracts the seconds part with .second.

Prints the seconds (0 to 59).

In [162]:
#print second
import datetime

print(datetime.datetime.now().second)

54

#### Code Explanation:
---
Uses datetime.datetime.now() to get the current date and time.

Prints the full datetime.

Prints each part separately: year, month, day, hour, minute, second, and microsecond.

In [163]:
import datetime

# Get the current date and time
now = datetime.datetime.now()

print("--- Current Date and Time ---")
print("Full datetime object:", now)
print("Year:", now.year)
print("Month:", now.month)
print("Day:", now.day)
print("Hour:", now.hour)
print("Minute:", now.minute)
print("Second:", now.second)
print("Microsecond:", now.microsecond)

--- Current Date and Time ---
Full datetime object: 2025-10-22 06:30:53.773737
Year: 2025
Month: 10
Day: 22
Hour: 6
Minute: 30
Second: 53
Microsecond: 773737

#### Code Explanation:
---
.strftime() formats datetime into readable strings.

%A = full weekday name.

%B = full month name.

%d = day of the month.

%Y = four-digit year.

%H = hour (24-hour).

%I = hour (12-hour).

%M = minutes.

%S = seconds.

%p = AM/PM.

In [164]:
import datetime

now = datetime.datetime.now()

print("--- Formatted Date and Time ---")
print("Long format:", now.strftime("%A, %B %d, %Y"))
print("Short format:", now.strftime("%Y-%m-%d %H:%M:%S"))
print("Month and Year:", now.strftime("%B %Y"))
print("Just the time:", now.strftime("%I:%M %p")) # 12-hour clock with AM/PM

--- Formatted Date and Time ---
Long format: Wednesday, October 22, 2025
Short format: 2025-10-22 06:32:03
Month and Year: October 2025
Just the time: 06:32 AM

#### Code Explanation:
---
Prints "Starting...".

Pauses the program for 3 seconds (time.sleep(3)).

Prints "Done waiting!" after the pause.

In [165]:
import time

print("Starting...")
time.sleep(3)  # wait for 3 seconds
print("Done waiting!")

Starting...
Done waiting!

#### Code Explanation:
---
Records the start time (start) before the task.

Runs a simple loop (can replace with any code you want to measure).

Records the end time (end) after the task.

Calculates and prints the difference (end - start), which is the time taken in seconds.

In [166]:
import time

start = time.time()
# some task
for _ in range(100):
    pass
end = time.time()

print("Time taken:", end - start, "seconds")

#used in checking how much time machine learning model is taken to execute

Time taken: 0.0 seconds

#### Code Explanation:
---
Defines a function slow_task() that generates and sorts 1 million random numbers.

Uses time.perf_counter() to get a precise start time.

Executes the task.

Uses time.perf_counter() again to get the end time.

Calculates and prints elapsed time with 4 decimal places.

In [167]:
#CPU time.........time.perf_counter() gives you a high-precision timer ‚Äî great for measuring the actual runtime of code with sub-second accuracy (better than time.time() for this).
import time
import random

def slow_task():
    # Create a big list of random numbers and sort it
    numbers = [random.randint(1, 1000000) for _ in range(1000000)]
    numbers.sort()

# Start timer
start = time.perf_counter()

# Run the task
slow_task()

# End timer
end = time.perf_counter()

# Calculate elapsed time
elapsed = end - start
print(f"Task completed in {elapsed:.4f} seconds")

Task completed in 2.2808 seconds

#### Code Explanation:
---
zip(list1, list2, list3):

Combines elements from each list into tuples, pairing items by their positions.

Stops at the shortest list length (here, list3 has 2 items, so zipped length is 2).

print(zipped_content):

Prints the zip object reference (not the content).

list(zipped_content):

Converts the zipped object to a list of tuples:

[(1, 'chandra', 'Data Science'), (2, 'sai', 'MLOPS')]


dict(zipped_content):

Will fail or return an empty dictionary here because zipped_content was already exhausted by the previous list() call. Zip objects are iterators, so once consumed, they're empty.

Also, dict() expects a sequence of pairs, but here tuples have 3 elements, so this would raise a ValueError.

In [168]:
#zip() function and enumerate() function
list1=[1,2,3]
list2=['chandra','sai','ML Engineer']
list3=['Data Science','MLOPS']
zipped_content=zip(list1,list2,list3)

print(zipped_content)
print(f"print zipped content in the form of list: {list(zipped_content)}")
print("")
print(f"dictionaryy format of zipped content{dict(zipped_content)}")

<zip object at 0x000001C634838740>
print zipped content in the form of list: [(1, 'chandra', 'Data Science'), (2, 'sai', 'MLOPS')]

dictionaryy format of zipped content{}

#### Code Explanation:
---
When you do list(zipped_content), the zip iterator gets exhausted ‚Äî you can‚Äôt reuse it afterward.

dict() needs pairs (2 elements per tuple), so only zip 2 lists to convert to dictionary.

zip(list1, list2, list3) stops at the shortest list length (2 here).

zip(list11, list22) creates key-value pairs for dictionary conversion.

In [169]:
#zipped content for dictionary type cast of data type ....empty{}
#change the above code and try to print dict type data
#zip() function and enumerate() function
list1=[1,2,3]
list2=['chandra','sai','ML Engineer']
list3=['Data Science','MLOPS']
zipped_content=zip(list1,list2,list3)

print(zipped_content)
print(f"print zipped content in the form of list: {list(zipped_content)}")
print("")
list11=[1,2,3]
list22=['chandra','sai','ML Engineer']
#list33=['Data Science','MLOPS','']
zipped_content1=zip(list11,list22)
print(f"dictionaryy format of zipped content{dict(zipped_content1)}")

<zip object at 0x000001C63483B240>
print zipped content in the form of list: [(1, 'chandra', 'Data Science'), (2, 'sai', 'MLOPS')]

dictionaryy format of zipped content{1: 'chandra', 2: 'sai', 3: 'ML Engineer'}

#### Code Explanation:
---
set(l) converts the list l into a set.

Sets are unordered collections of unique elements.

So, duplicates would be removed (if there were any).

Since your list has unique elements, list5 will just be {1, 2, 3, 4} but without order guarantees.

In [170]:
#set
l=[1,2,3,4]
list5=set(l)
list5

{1, 2, 3, 4}

#### Code Explanation:
---
The list example is converted into a set set_content.

Since all elements are unique strings, the set will contain the same two items.

Sets are unordered, so the output order may vary.

In [171]:
#set
example=['chandra','list content']
set_content=set(example)
set_content

{'chandra', 'list content'}

#### Code Explanation:
---
Sets store only unique values.

Even though example has 'chandra' repeated 3 times, the set will have just one 'chandra'.

Similarly, list_ex has many 1‚Äôs, but set_li will have just {1}.

In [172]:
#set example it stores unique values 
example=('chandra', 'chandra','chandra')
set_example=set(example)
list_ex=[1,1,1,1,1,1,1,1,1,1,1,1,]
set_li=set(list_ex)
set_example,set_li

({'chandra'}, {1})

#### Code Explanation:
---
Sets ...... a sorted list from the set.

In [173]:
#set example
s1={10,9,8,7,6,5,3,2,1}

#display the data in sorted ascending order
s1

{1, 2, 3, 5, 6, 7, 8, 9, 10}

### Set Operations Using Operators ‚Äî Notes and Examples

#### Set Difference (-)

#### Code Explanation:
---
Returns elements in s1 but not in s2.

In [94]:
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}


diff = s1 - s2
print(diff)  # Output: {1, 2}

{1, 2}

#### Set Intersection (&)

#### Code Explanation:
---
Returns elements common to both s1 and s2.

In [95]:
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}

inter = s1 & s2
print(inter)  # Output: {3, 4}

{3, 4}

#### Set Union (|)

#### Code Explanation:

Returns all unique elements from both sets combined.

In [96]:
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}

union = s1 | s2
print(union)  # Output: {1, 2, 3, 4, 5, 6}

{1, 2, 3, 4, 5, 6}

#### Symmetric Difference (^)

#### Code Explanation:
---
Returns elements in either s1 or s2, but not both.

In [97]:
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}

sym_diff = s1 ^ s2
print(sym_diff)  # Output: {1, 2, 5, 6}

{1, 2, 5, 6}

#### Membership Test (in)

#### Code Explanation:
---
Checks if an element exists in the set.

In [98]:
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}

print(3 in s1)  # True
print(5 in s1)  # False

True
False

#### Code Explanation:
---
.add() method adds a single element to the set.

If the element already exists, the set remains unchanged (no duplicates).

In [174]:
#add value to the set
s12={10,9,7,3,2,1}
s12.add(343)

s12

{1, 2, 3, 7, 9, 10, 343}

#### Code Explanation:
---
Removing duplicates from a dataset (ML preprocessing)

Remove duplicate entries in training data to avoid bias or redundancy.

In [175]:
raw_data = ['cat', 'dog', 'cat', 'bird', 'dog', 'fish']
unique_data = set(raw_data)
print(unique_data)

{'cat', 'bird', 'fish', 'dog'}

#### Code Explanation:
---
Checking if a user has required permissions (Web app auth)

In [176]:
user_permissions = {'read', 'write'}
required_permissions = {'read', 'delete'}

if required_permissions.issubset(user_permissions):
    print("Access granted")
else:
    print("Access denied")

Access denied

#### Code Explanation:
---
Combining tags from multiple sources (Content Management)

Aggregate tags from different contributors for better search and filtering.

In [177]:
tags_source1 = {'python', 'ai', 'ml'}
tags_source2 = {'ai', 'data-science', 'deep-learning'}

all_tags = tags_source1.union(tags_source2)
print(all_tags)  # {'python', 'ai', 'ml', 'data-science', 'deep-learning'}

{'data-science', 'deep-learning', 'python', 'ml', 'ai'}

#### Code Explanation:
---
Finding common interests among users (Social networking app)

Suggest friends or content based on shared interests.

In [178]:
user1_interests = {'music', 'sports', 'reading'}
user2_interests = {'sports', 'travel', 'movies'}

common_interests = user1_interests.intersection(user2_interests)
print(common_interests)  # {'sports'}

{'sports'}

#### Code Explanation:
---
Filtering out stopwords from text (NLP preprocessing)

Improve model performance by removing common stopwords that carry little meaning.

In [179]:
text_tokens = {'this', 'is', 'a', 'sample', 'text'}
stopwords = {'is', 'a', 'the'}

filtered_tokens = text_tokens.difference(stopwords)
print(filtered_tokens)  # {'this', 'sample', 'text'}

{'text', 'sample', 'this'}

#### Code Explanation:
---
Detecting data drift by comparing old and new datasets (ML Monitoring)

Identify features that appeared or disappeared, which may affect model predictions.

In [180]:
training_data_features = {'age', 'income', 'education', 'gender'}
new_data_features = {'age', 'income', 'education', 'marital_status'}

drift_features = training_data_features.symmetric_difference(new_data_features)
print(drift_features)  # {'gender', 'marital_status'}

{'marital_status', 'gender'}

#### Code Explanation:
---
Fast membership test for blacklist (Security in web apps)

Quickly block unwanted users or attacks.

In [181]:
blacklist_ips = {'192.168.1.1', '10.0.0.5'}
incoming_ip = '10.0.0.5'

if incoming_ip in blacklist_ips:
    print("Block access")
else:
    print("Allow access")

Block access

#### Code Explanation:
---
Finding Removed Items (E-commerce or CMS)

Identify out-of-stock or deleted products.

In [183]:
previous_products = {'phone', 'laptop', 'tablet', 'watch'}
current_products = {'phone', 'laptop', 'watch'}

removed = previous_products.difference(current_products)
print(removed)  # {'tablet'}

{'tablet'}

#### Code Explanation:
---
Adding new keywords to a vocabulary during training (Gen AI apps)

Expand vocabulary dynamically during model training or fine-tuning.

In [182]:
vocab = {'hello', 'world'}
new_words = ['AI', 'machine', 'learning']

for word in new_words:
    vocab.add(word)

print(vocab)  # {'hello', 'world', 'AI', 'machine', 'learning'}

{'machine', 'world', 'AI', 'learning', 'hello'}

#### Simple Class and Method

#### Code Explanation:


Class Definition:
class Myclass: defines a new class named Myclass.

Method inside Class:
def basic(self): defines a method named basic. The self parameter refers to the instance of the class.

Creating an Instance:
c = Myclass() creates an object (instance) c of the class Myclass.

Calling a Method:
c.basic() calls the basic method on the instance c, which prints "my class".

In [99]:
class Myclass:
    
    def basic(self):
        print("my class")

c=Myclass()

c.basic()

my class

#### Class Variables vs Instance Variables

#### Code Explanation:

company is a class variable common to all employees.

name and position are instance variables unique to each employee.

In [100]:
class Employee:
    # Class variable shared by all employees
    company = "TechCorp"

    def __init__(self, name, position):
        # Instance variables unique to each employee
        self.name = name
        self.position = position

emp1 = Employee("Alice", "Developer")
emp2 = Employee("Bob", "Designer")

print(emp1.name, emp1.position, emp1.company)  # Alice Developer TechCorp
print(emp2.name, emp2.position, emp2.company)  # Bob Designer TechCorp

Alice Developer TechCorp
Bob Designer TechCorp

### Inheritance Basics

#### Code Explanation:

Bicycle inherits from Vehicle.

Bicycle overrides the move method with its own implementation.

In [101]:
class Vehicle:
    def move(self):
        print("Vehicle is moving")

class Bicycle(Vehicle):
    def move(self):
        print("Bicycle is pedaling")

bike = Bicycle()
bike.move()  # Bicycle is pedaling

Bicycle is pedaling

### Method Overriding

#### Code Explanation:

Developer overrides the work method from Manager with a more specific behavior.

In [102]:
class Manager:
    def work(self):
        print("Managing team and projects")

class Developer(Manager):
    def work(self):
        print("Writing code and fixing bugs")

mgr = Manager()
dev = Developer()

mgr.work()  # Managing team and projects
dev.work()  # Writing code and fixing bugs

Managing team and projects
Writing code and fixing bugs

### Closure Example

#### Code Explanation:

outer() is a function that defines a variable x and an inner function inner().

The inner function inner() accesses the variable x from the enclosing scope.

outer() returns the inner function without calling it.

When we assign closure = outer(), the inner function is returned and remembers the value of x even after outer() has finished executing.

Calling closure() invokes inner(), which prints the value of x (which is 10).

In [ ]:
#closure 

def outer():
    x=10
    def inner():
        print(x)

    return inner

closure=outer()

#function calling
closure()

#### Code Explanation:

#### Python Closures: Example and Explanation

A **closure** is a function object that remembers values in enclosing scopes even if they are not present in memory.

In this example, `create_counter()` returns the `increment` function that *remembers* the variable `count` even after `create_counter` has finished execution.

- `nonlocal count` allows the inner function to modify the `count` variable defined in the outer function.
- Each call to `create_counter()` creates a new independent counter.

This pattern is useful when you want to maintain state across multiple calls without using global variables or classes.

counter1() increases count inside the first closure and remembers its state, so it outputs 1, then 2.

counter2() is a new closure with its own independent count, starting again at 0, so first call returns 1.

In [103]:
#closure

def create_counter():
    count = 0
    def increment():
        nonlocal count  # The nonlocal keyword is needed to modify the variable
        count += 1
        return count
    return increment

counter1 = create_counter()
print(f"Counter 1: {counter1()}") # 1
print(f"Counter 1: {counter1()}") # 2

counter2 = create_counter()
print(f"Counter 2: {counter2()}") # 1

Counter 1: 1
Counter 1: 2
Counter 2: 1

#### Code Explanation:

#### Python Decorators

A **decorator** is a special type of **closure** that takes a function as input and returns a new function with extended behavior.

- Decorators allow you to modify or enhance the behavior of functions without changing their code.
- They are widely used for logging, access control, caching, and more.

In this example:

- `my_decorator` is a decorator function.
- It wraps the original `weather_api` function with additional behavior before and after its execution.
- The `@my_decorator` syntax is a shorthand to apply the decorator to the `weather_api` function.

In [105]:
#decorators
# a decorator is a closure that takes a function as an argument and returns a new function.

def my_decorator(function):
    def wrapper():
        print("before the function")
        function()
        print("after function ")
    return wrapper


@my_decorator
def weather_api():
    print("Weather information")


#function calling
weather_api()

before the function
Weather information
after function

#### Code Explanation:

#### List Comprehension in Python

List comprehension is a concise way to create lists by iterating over an iterable and optionally applying conditions or expressions.

It‚Äôs often more readable and shorter than traditional loops.



Example: Create a list of numbers from 0 to 10 using list comprehension.

In [106]:
# List comprehension
# copy the numbers from range of 0 to 10 within new list


number_2=[number for number in range(0,11)]
print(number_2)

## actually what this list comprehension does
#number_2=[]
# for i in range(0,11)
#     number_2.append(i)
#print(number_2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### Code Explanation:

#### List Comprehension with Condition: Filtering Even Numbers

You can add conditions to list comprehensions to filter elements.

Example: Create a list of even numbers from 1 to 10 using list comprehension.

In [107]:
# use "List Comprehension"
# copy even numbers from the range of 1 to 10

numbers=[number for number in range(1,11) if number%2==0]
print(numbers)

[2, 4, 6, 8, 10]

#### Code Explanation:

#### List Comprehension for Odd Numbers

Just like filtering even numbers, you can filter odd numbers using a condition in the list comprehension.

Example: Create a list of odd numbers from 1 to 10.

In [108]:
# use "List Comprehension"
#copy the odd numbers from the range of 1 to 10

numbers=[number for number in range(1,11) if number % 2!=0]
print(numbers)

[1, 3, 5, 7, 9]

#### Code Explanation:

#### List Comprehension: Squares of Numbers

You can also use list comprehension to transform items by applying an expression.

Example: Create a list containing the squares of numbers from 1 to 10.

In [109]:
# use "List Comprehension"
# print the square of the numbers from range 1 to 10
numbers=[number**2 for number in range(1,11)]
print(numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### Code Explanation:

#### List Comprehension with if-else

You can use an `if-else` expression inside a list comprehension to create a list based on conditional logic.

Example: For numbers from 1 to 10, label each as `"even"` or `"odd"`.

In [110]:
# List Comprehension
# using if and else block
# print even or odd from the range of 1 to 10

numbers=["even" if number%2==0 else "odd" for number in range(1,11) ]
print(numbers)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

#### Code Explanation:

#### Using Functions in List Comprehensions

You can call a function for each item inside a list comprehension to apply complex logic or reusable code.

Example: Define a function `square()` to compute the square of a number, then use it within a list comprehension to square numbers from 1 to 10.

In [111]:
# List Comprehension
# using function() within list comprehension

def square(number):
    return number**2

numbers=[square(number) for number in range(1,11)]
print(numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### Code Explanation:

#### String Operations Using List Comprehension

You can perform operations on strings inside list comprehensions, such as converting to uppercase, lowercase, or manipulating each string element.

Example: Convert all strings in a list to uppercase using list comprehension.

In [112]:
# string operations within List Comprehension

content=["hello","chandra"]

output=[sample.upper() for sample in content]
print(output)

['HELLO', 'CHANDRA']

#### Code Explanation:

#### Using `zip()` Function with List Comprehension

The `zip()` function combines elements from multiple iterables (like lists) into tuples.

Using `zip()` inside list comprehension is a clean way to process paired data.

Example: Combine names and scores into formatted strings.

In [113]:
# zip() function using "List Comprehension"

names=["Chandra","Sai"]
scores=[85, 90]

combined=[f"{n}: {s}" for n,s in zip(names,scores)]
print(combined)

['Chandra: 85', 'Sai: 90']

#### Code Explanation:

#### Using `enumerate()` with List Comprehension

The `enumerate()` function adds a counter to an iterable and returns it as an enumerate object.

This is useful when you want both the index and the value during iteration.

Example: Create a list of tuples with index and value using list comprehension.

In [114]:
# enumerate() function within "List Comprehension"

data=["a","b","c"]
indexed=[(i,val) for i,val in enumerate(data)]
print(indexed)

[(0, 'a'), (1, 'b'), (2, 'c')]

#### Code Explanation:

#### Exception Handling with try-except

The `try-except` block helps you catch errors during runtime and handle them gracefully, preventing the program from crashing.

In this example, division by zero raises an error, which we catch and handle by printing a message.

In [115]:
# try except

try:
    1/0
except:
    print("Some Error")

Some Error

#### Code Explanation:

#### Catching and Printing Exceptions

You can catch an exception object using `except Exception as e` to access the error message or details.

This is useful for debugging or providing informative error messages.

In [116]:
# print the exception
try:
    1/0
except Exception as e:
    print(e)

division by zero

#### Code Explanation:

#### Handling Specific Exceptions

You can catch specific exceptions to handle different error types differently.

Example: Catch and handle a `ZeroDivisionError` specifically.

In [117]:
try:
    1/0
except ZeroDivisionError as e:
    print(e)

division by zero

#### Code Explanation:

#### Handling Input Conversion Errors

When taking user input and converting it to a number, errors can occur if the input is not a valid integer.

Using `try-except`, you can catch such errors and handle them gracefully.

In [118]:
try:
    num=int(input("Enter number"))
except Exception as e:
    print(e)

invalid literal for int() with base 10: 'str'

#### Code Explanation:

#### Handling ValueError for User Input

When converting input to an integer, invalid inputs raise a `ValueError`.

This example catches only `ValueError` and prints the error message.

In [119]:
try:
    num=int(input("Enter number"))
except ValueError as e:
    print(e)

invalid literal for int() with base 10: 'tri'

#### Code Explanation:

#### try, except, and finally

- The `try` block lets you test a block of code for errors.
- The `except` block lets you handle the error gracefully.
- The `finally` block contains code that will run **no matter what**‚Äîwhether an exception occurred or not.

This is useful for cleaning up resources or final steps.

In [ ]:
# try and except and finaly

try:
    num = int(input("Enter a number: "))
    print(f"You entered: {num}")
except ValueError:
    print("Oops! That's not a valid number.")
finally:
    print("This always runs, no matter what.")

#### Code Explanation:

#### try-except-else-finally Blocks

- **try:** Code that might raise an exception.
- **except:** Code to handle the exception.
- **else:** Code that runs if no exceptions occur.
- **finally:** Code that always runs, regardless of exceptions.

This structure helps manage errors cleanly and ensures important cleanup code always executes.

In [120]:
try:
    num = int(input("Enter a number: "))
except ValueError:
    print("Invalid input! Please enter a valid integer.")
else:
    print(f"You entered the number: {num}")
finally:
    print("This runs no matter what.")

Invalid input! Please enter a valid integer.
This runs no matter what.

#### Code Explanation:

#### Raising Exceptions with `raise`

You can intentionally trigger an exception using the `raise` statement.

This is useful for enforcing rules or signaling errors in your code.

In [121]:
def check_age(age):
    if age < 18:
        raise ValueError("Age must be at least 18.")
    else:
        print("Access granted.")

try:
    check_age(16)
except ValueError as e:
    print(f"Error: {e}")

Error: Age must be at least 18.

### Dictionary Comprehension

#### Dictionary Comprehensions

Dictionary comprehensions allow you to create dictionaries in a concise and readable way, similar to list comprehensions.

Syntax:
```python
{key_expression: value_expression for item in iterable if condition}

#### Code Explanation:

range(1, 6) generates numbers from 1 to 5.

The dictionary comprehension iterates over each number num in this range.

For each num, it creates a key-value pair where:

key = num

value = num**2 (the square of num)

These key-value pairs are collected into a dictionary called squares.

Finally, print(squares) displays the dictionary mapping each number to its square.

Result: A dictionary {1:1, 2:4, 3:9, 4:16, 5:25} where each key is a number and its value is that number squared.

In [122]:
squares = {num: num**2 for num in range(1, 6)}
print(squares)  # Output: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

#### Set Comprehensions

Set comprehensions create sets using a similar syntax to list comprehensions but with curly braces `{}`.

They automatically remove duplicates because sets do not allow repeated elements.

Example: Create a set of squares of numbers, demonstrating that duplicates are removed.

#### Code Explanation:

numbers is a list containing some repeated elements (e.g., 2 and 4 appear twice).

The set comprehension {num**2 for num in numbers} iterates over each number in the list.

For each number, it computes the square (num**2).

These squared values are collected into a set, which automatically removes duplicates.

The resulting squares_set contains unique squares of the numbers in the list.

When printed, you get a set of unique squared values: {1, 4, 9, 16, 25}.

In [123]:
numbers = [1, 2, 2, 3, 4, 4, 5]
squares_set = {num**2 for num in numbers}
print(squares_set)  # Output: {1, 4, 9, 16, 25}

{1, 4, 9, 16, 25}

### map(), filter(), reduce()

- **map(function, iterable):** Applies a function to every item in an iterable and returns an iterator.
- **filter(function, iterable):** Filters items in an iterable based on a function that returns True/False.
- **reduce(function, iterable):** Applies a rolling computation to sequential pairs of values in an iterable (needs `functools.reduce`).

Examples follow.

In [124]:
from functools import reduce

# map example: square numbers
numbers = [1, 2, 3, 4]
squares = list(map(lambda x: x**2, numbers))
print("Squares:", squares)

# filter example: keep even numbers
evens = list(filter(lambda x: x % 2 == 0, numbers))
print("Evens:", evens)

# reduce example: sum all numbers
total = reduce(lambda x, y: x + y, numbers)
print("Sum:", total)

Squares: [1, 4, 9, 16]
Evens: [2, 4]
Sum: 10

### enumerate() and zip()

- **enumerate(iterable, start=0):** Adds a counter to an iterable, returning pairs (index, value).
- **zip(*iterables):** Combines multiple iterables element-wise into tuples.

Examples next.

In [125]:
# enumerate example
fruits = ['apple', 'banana', 'cherry']
for idx, fruit in enumerate(fruits, start=1):
    print(idx, fruit)

# zip example
names = ['Alice', 'Bob', 'Charlie']
ages = [25, 30, 35]
combined = list(zip(names, ages))
print("Zipped:", combined)

1 apple
2 banana
3 cherry
Zipped: [('Alice', 25), ('Bob', 30), ('Charlie', 35)]

### any() and all()

- **any(iterable):** Returns True if **any** element is truthy.
- **all(iterable):** Returns True if **all** elements are truthy.

Useful for quick checks on conditions across collections.

In [126]:
values = [0, "", None, 5]

print("any:", any(values))  # True, because 5 is truthy
print("all:", all(values))  # False, because 0, "", None are falsy

any: True
all: False

### Generators and yield

- Generators produce items one at a time, saving memory.
- Use `yield` in a function to make it a generator.
- You can iterate over generators just like lists but values are generated on-the-fly.

Example shows a generator for squares.

In [127]:
def generate_squares(n):
    for i in range(1, n+1):
        yield i**2

squares_gen = generate_squares(5)

for square in squares_gen:
    print(square)

1
4
9
16
25

### Iterators:
- An **iterator** is an object that enables you to traverse through all elements of a collection, one at a time.
- You can get an iterator from an iterable using the `iter()` function.
- Use `next()` to get the next item from the iterator.

In [128]:
# Example: Using iterator manually

my_list = [10, 20, 30]
it = iter(my_list)  # Create an iterator

print(next(it))  # Output: 10
print(next(it))  # Output: 20
print(next(it))  # Output: 30
# next(it) now would raise StopIteration

10
20
30

### Generators:
- A **generator** is a special kind of iterator defined using a function with `yield`.
- Generators produce values on the fly, saving memory.
- You can iterate over a generator just like a list, but it generates values as needed.

In [129]:
# Example: Generator function using yield

def countdown(n):
    while n > 0:
        yield n
        n -= 1

for number in countdown(5):
    print(number)

5
4
3
2
1

### Regular Expressions (re module)

- Regular expressions (regex) let you search, match, and manipulate strings based on patterns.
- Python‚Äôs `re` module provides functions like `match()`, `search()`, `findall()`, and `sub()`.
- Regex is useful for validation, parsing, and text processing.

Common regex symbols:
- `.` matches any character
- `*` zero or more repetitions
- `+` one or more repetitions
- `?` zero or one repetition
- `\d` digit, `\w` word character, etc.

In [130]:
import re

text = "My phone number is 123-456-7890."

# Find all groups of digits separated by hyphens
pattern = r"\d{3}-\d{3}-\d{4}"

match = re.search(pattern, text)
if match:
    print("Phone number found:", match.group())
else:
    print("No phone number found.")

Phone number found: 123-456-7890

#### Advanced Regular Expressions Examples

We'll explore:
- `re.findall()` to extract multiple matches
- `re.sub()` for substitution
- `re.split()` for splitting text by patterns

In [131]:
import re

text = "Contact: John (123)456-7890, Alice (987)654-3210"
pattern = r"\(\d{3}\)\d{3}-\d{4}"

matches = re.findall(pattern, text)
print("Phone numbers found:", matches)

Phone numbers found: ['(123)456-7890', '(987)654-3210']

In [132]:
# Replace all digits with '*'
text = "Password123"
pattern = r"\d"
masked = re.sub(pattern, "*", text)
print("Masked text:", masked)

Masked text: Password***

In [133]:
# Split text by commas or semicolons
text = "apple, banana; mango, orange; grape"
pattern = r"[,;]\s*"

fruits = re.split(pattern, text)
print("Fruits list:", fruits)

Fruits list: ['apple', 'banana', 'mango', 'orange', 'grape']

In [134]:
# Validate an email address using regex
email = "user.name123@example.com"
pattern = r"^[\w\.-]+@[\w\.-]+\.\w+$"

if re.match(pattern, email):
    print("Valid email ‚úÖ")
else:
    print("Invalid email ‚ùå")

Valid email ‚úÖ