1. What is Python?
Definition

Python is an interpreted, high‑level, general‑purpose programming language. 
datagy
+2
dshub.gitbook.io
+2

Interpreted means you write code and it runs (via an interpreter) without a separate compile step (in many cases).

High‑level means that it abstracts away many of the details of how the computer works (memory management, etc) so you can focus on logic.

General‑purpose means you can use it for many applications: web development, scripting, automation, data analysis, AI, etc.

It is dynamically typed (you don’t need to declare variable types ahead) and has built‑in memory management (garbage collection). 
datagy

Python’s syntax emphasizes readability and simplicity, which makes it good for beginners.

-----------------------
History/Why use Python
-----------------------
Created by Guido van Rossum in the late 1980s, first released in 1991.

It became popular because of its simplicity, large standard library, ecosystem of external libraries, and versatility.

For beginners: less boilerplate and more immediate feedback — you can write stuff quickly, see results.

What can you do with Python?

Automate tasks (e.g., file operations, web scraping)

Build websites (with frameworks like Django, Flask)

Data analysis and visualization (with pandas, NumPy, matplotlib)

Scientific computing, machine learning

Scripting, command‑line tools, and more

-----------------
Summary for you
-----------------
If you’re just starting, think of Python as a friendly programming language you can quickly jump into: you write code, see results, explore, experiment — fewer hurdles than many older languages.

-----------------------------------------------
2. How to install Python & set up environment
-----------------------------------------------
Here’s a beginner‑friendly step‑by‑step guide. (Also applies for your system in Guntur / India; instructions are generic.)

Step‑1: Download

Go to the official website: python.org

Under “Downloads” select your operating system (Windows, macOS, Linux).

Step‑2: Install

Windows: run the installer .exe. Make sure you check “Add Python to PATH” if offered.

macOS: use the installer .pkg or use Homebrew (brew install python3).

Linux: often Python comes pre‑installed. You can install latest via sudo apt install python3 (Ubuntu) etc.

------------------------------
Step‑3: Verify installation
------------------------------
Open a terminal or command prompt and type python --version or python3 --version.

It should show something like Python 3.10.x (or whatever version you installed).

Then type python (or python3) and you’ll get a REPL (interactive shell) prompt >>>.

Try print("Hello, world!").

---------------------------------
Step‑4: Choose an editor or IDE
---------------------------------
For beginners, it’s good to use either:

A code editor like Visual Studio Code with Python extension

Or a notebook environment like Jupyter Notebook / JupyterLab

Or an IDE like PyCharm

For interactive experimentation (especially if you later work with the GitHub notebook), Jupyter is very convenient.

-------------------
Step‑5: (Optional) Use virtual environment
-------------------
To keep your Python projects isolated (so one project’s libraries don’t conflict with another), you can use venv in Python 3:
```bash
python3 -m venv myenv
source myenv/bin/activate  # (on Windows: myenv\Scripts\activate)
pip install somepackage
```

----------------
Step‑6: Install Jupyter Notebook
---------------
If you want to open the notebook from GitHub, you might install:
```bash
pip install notebook
jupyter notebook
```

That will open a browser where you can open .ipynb files and run code cells interactively.

Printing / output: Use print(...) to show text or data on the screen.

Comments: Lines beginning with # are comments (ignored by interpreter) → used for explanation.

In [1]:
print("hello world")

hello world

Basic arithmetic / expressions: e.g., 2 + 3, 10 * (5‑2), etc.

You’ll see that Python evaluates expressions and you get results immediately.

In [2]:
print(3+7)

10

In [3]:
4+9

13

In [4]:
variable = 80-2
variable

78

In [5]:
type(variable)

int

In [6]:
a,b,c = 1,2,3
a,b,c

(1, 2, 3)

In [7]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [8]:
len(keyword.kwlist)

35

In [9]:
var_=6

In [10]:
_var=6

In [11]:
z=8
Z=z
print(Z)

8

In [12]:
key="string content"
key

'string content'

In [13]:
type(key)

str

In [14]:
20/4

5.0

In [15]:
100/6

16.666666666666668

In [16]:
100//6

16

In [17]:
20/2

10.0

In [18]:
20//2

# floor division

10

In [19]:
25%5

# modulus

0

In [20]:
2 * 3

6

In [21]:
2 ** 3

#power of 2

8

In [22]:
a =5 
a+= 5
print(a)

10

In [23]:
a = 5
a-=2
print(a)

3

In [24]:
a=4

#comparision operator
a==4

True

In [25]:
a =5

a+=5

#comparision operator
a==5

False

In [26]:
a =5

a > 3

True

In [27]:
a = 5

a > 20

False

In [28]:
a = 5

a < 20

True

In [29]:
a = 5

a <= 3

False

In [30]:
a = 5

a >= 1

True

In [31]:
a = 5
b = 5

# a>3  
# true

b>3
# b > 3
# True

a>3 and b>3

True

In [32]:
a = 5
b = 5

a>3 and b<3

# and ....operator

False

In [33]:
a = 5
b = 0

a>1 or b>1

# or operator

True

Bitwise operator

In [34]:
a = 5
b = 3
a  & b

1

In [35]:
a = 5
b = 3
a | b

7

In [36]:
a = "chandra"
print("c" in a)

True

In [37]:
a = "chandra"

print("zyx" in a)

False

In [38]:
a = [1,2,3,4]

print(10 in a)

False

In [39]:
a = True

not a

#not operator

False

'Math' module

In [40]:
import math

math.pi

3.141592653589793

In [41]:
import math

math.nan

#not a number

nan

In [42]:
import math

math.floor(200.34567)

# floor value

200

In [43]:
import math

math.ceil(300.999)

# ceil value

301

In [44]:
import math

math.log(100)

4.605170185988092

In [45]:
import math

math.sqrt(16)

4.0

In [46]:
import math

math.pow(2,3)

# cube of 2

8.0

In [47]:
a = [1,2,3,4]

print(10000 not in a)

True

In [48]:
a = 5

if a == 5:
    print(a)

5

In [49]:
a = 5

if a > 10000:
    print("true")

else:
    print("false")

false

In [50]:
a = 5

if a > 0:
    a = a + 3
    print(a)

else:
    print(a)

8

In [51]:
a = 5

if a == 5:
    a = a + 5
    print(a)

10

In [52]:
a = 5

if a == 1000:
    print("if statement is true")

print("outside of if-block")

outside of if-block

In [53]:
a = 5

if a == 3:
    print(a+3)

elif a ==5:
    print("elif statements get executed")
    print(a)

elif a > 20:
    print("nested elif")

elif statements get executed
5

In [54]:
a = 5

if a > 200:
    pass

elif a < 0:
    pass

else:
    print("else block statements get executed")
    print(a)

else block statements get executed
5

In [55]:
str="   a   chandra saibfg   b    c    "
print(str.strip())
print(str.lstrip())
print(str.replace("sai", "sekhar"))
print(str.strip(' '))
print(str.split('a'))
print(str.split(' '))
print(f"max value of str: {max(str)}")
print(str)
print("minimum value",min(str.split()))

a   chandra saibfg   b    c
a   chandra saibfg   b    c
   a   chandra sekharbfg   b    c
a   chandra saibfg   b    c
['   ', '   ch', 'ndr', ' s', 'ibfg   b    c    ']
['', '', '', 'a', '', '', 'chandra', 'saibfg', '', '', 'b', '', '', '', 'c', '', '', '', '']
max value of str: s
   a   chandra saibfg   b    c
minimum value a

In [56]:
word = ['chandra', ':', 'sai']
"_".join(word)

'chandra_:_sai'

In [57]:
fruits = ["apple", "banana", "orange"]

if "chandra" in fruits:
    print("chandra is present in the list")

elif "cherry" in fruits:
    print("cherry is present in list")

else:
    print("else block got executed")

else block got executed

List

In [58]:
a = [1,2,3,4,5,6]
len(a)

6

In [59]:
a =[1,2,3,4,5,6]

a[0:2]

[1, 2]

In [60]:
a = [1,2,3,4,5,6]

a[:4]

[1, 2, 3, 4]

In [61]:
a = [1,2,3, "string content", 3+4j]

a

[1, 2, 3, 'string content', (3+4j)]

In [62]:
a = ["chandra", "sai", "AI Engineer", "ML Engineer", "Data Science Engineer"]

a[0]

'chandra'

In [63]:
a = ["chandra", "sai", "AI Engineer", "ML Engineer", "Data Science Engineer"]

a[0:2]

['chandra', 'sai']

In [64]:
a = ["chandra", "sai", "AI Engineer", "ML Engineer", "Data Science Engineer"]

a[:4]

['chandra', 'sai', 'AI Engineer', 'ML Engineer']

In [65]:
a = ["chandra", "sai", "AI Engineer", "ML Engineer", "Data Science Engineer"]

a[0:4:2]

# starting index=== 0
# last index======= 4
# skip 2 elements from it

['chandra', 'AI Engineer']

In [66]:
a = ["chandra", "sai", "AI Engineer", "ML Engineer", "Data Science Engineer"]

a[::2]

['chandra', 'AI Engineer', 'Data Science Engineer']

In [67]:
a = ["chandra", "sai", "AI Engineer", "ML Engineer", "Data Science Engineer"]

a[-1]
# last element

'Data Science Engineer'

In [68]:
a = ["chandra", "sai", "AI Engineer", "ML Engineer", "Data Science Engineer"]

a[-2]

'ML Engineer'

In [69]:
a = ["chandra", "sai", "AI Engineer", "ML Engineer", "Data Science Engineer"]

a[::-1]
# print in reverse order

['Data Science Engineer', 'ML Engineer', 'AI Engineer', 'sai', 'chandra']

In [70]:
a = [1]

a * 2

# repeated elements twice

[1, 1]

In [71]:
a = [1,2,3]

a * 2

# repeated elements twice

[1, 2, 3, 1, 2, 3]

In [72]:
a = [1,2,3]

a.append("new element")
# add element into list

a

[1, 2, 3, 'new element']

In [73]:
a = [1,2,3]

a.append([4,5,6])

a

[1, 2, 3, [4, 5, 6]]

In [74]:
a = [1,2,3,4,5,6]

# pop ....zero index
a.pop(0)
a

[2, 3, 4, 5, 6]

Tuple

In [75]:
a = (1,2,3,4,5,6)

type(a)

tuple

In [76]:
a = ("first", "second", "third","four")

a[:2]

('first', 'second')

In [77]:
a = ("first", "second", "third","four")

a[-1]

'four'

In [78]:
a = ("first", "second", "third","four")

a[::-1]
# print in reverse order

('four', 'third', 'second', 'first')

In [79]:
t = "ABXCDFbnght"
t.lower()
print(t.lower())

#converted to LOWER CASE

abxcdfbnght

In [80]:
t = "abcdefghijk"
print(t.upper())

# converted to UPPER CASE

ABCDEFGHIJK

In [81]:
t = "Hello World"
sliced = t.split(' ')

print(sliced)

# split data based on white-space

['Hello', 'World']

In [82]:
t = "Hello,World"
sliced = t.split(',')

print(sliced)

#split() ....the data based on comma

['Hello', 'World']

In [83]:
a ="first statement"
a = a + " second-statement"

print(a)

# concatenate two strings

first statement second-statement

In [84]:
a = ("first", "second", "third","four")

a[0:3:2]

# skip "second element" every time

('first', 'third')

In [85]:
a = ("first", "second", "third","four","five", "six", "seven", "eight", "nine", "ten")
print("total elements length",len(a))
a[0:9:2]
#skip second element every time

total elements length 10

('first', 'third', 'five', 'seven', 'nine')

Dictionary

In [86]:
d = {'key': [1,2,3,4]}

d

{'key': [1, 2, 3, 4]}

In [87]:
d["key"]

[1, 2, 3, 4]

In [88]:
#get latest 'key' in "dictionary"
d = {'key': [1,2,3,4],
     'key': [5,6,7,8]}

d
# key has 1,2,3,4 ....these are replaced
 # python avoid duplicates in dictionary and replaces it last modified 'key'

{'key': [5, 6, 7, 8]}

In [89]:
# print items in "dictionary"
d = {'key1': ["string1", "string2"],
     'key2': [1,2,3,4,5,6]
}

d.items
d.items()

dict_items([('key1', ['string1', 'string2']), ('key2', [1, 2, 3, 4, 5, 6])])

In [90]:
#print keys in "dictionary"
d = {'key1': ["string1", "string2"],
     'key2': [1,2,3,4,5,6]
}

d.keys()
# print keys

dict_keys(['key1', 'key2'])

In [91]:
d = {'key1': ["string1", "string2"],
     'key2': [1,2,3,4,5,6]
}

d.values()
#it returns all the values

dict_values([['string1', 'string2'], [1, 2, 3, 4, 5, 6]])

In [92]:
# delete dictionry
d = {'key1': ["string1", "string2"],
     'key2': [1,2,3,4,5,6]
}

del d['key2']
# delete key2

d

{'key1': ['string1', 'string2']}

In [93]:
# Dictionary within Dictionary

monuments={"Taj Mahal":{"Location":"Agra","Year":1632}}

monuments["Taj Mahal"]["Year"]

1632

In [94]:
# get() function in "dictionary"
lang={"karnataka":"Kannada","Andhra Pradesh":"Telugu"}

lang.get("Goa","Not Available")

'Not Available'

In [95]:
#pop() function in "dictionary"

capitals={"India":"Delhi","Andhra Pradesh":"Amaravati","UK":"London"}
capitals.pop("UK")
print("uk information got deleted")
print(capitals)

uk information got deleted
{'India': 'Delhi', 'Andhra Pradesh': 'Amaravati'}

In [96]:
# delete the popitem() in dictionary

capitals.popitem()

('Andhra Pradesh', 'Amaravati')

In [97]:
# clear() function in dictionary

capitals.clear()
print(capitals.clear())

None

In [98]:
#convert two lists into Dictionary

states=["Rajasthan","Assam","Bihar"]
capital=["Jaipur","Dispur","Patna"]

zip(states,capital)
list(zip(states,capital))
print("sample list: ",list(zip(states,capital)))
print("sample dictionary",dict(zip(states,capital)))

sample list:  [('Rajasthan', 'Jaipur'), ('Assam', 'Dispur'), ('Bihar', 'Patna')]
sample dictionary {'Rajasthan': 'Jaipur', 'Assam': 'Dispur', 'Bihar': 'Patna'}

In [99]:
def factorial(number):
    if number==0:
        return 1
    else:
        return number * factorial(number-1) 

factorial(0)        

# function

1

In [100]:
factorial(5)

120

In [101]:
factorial("3")

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [ ]:
#single comment line

In [ ]:
""" multiple line of comments"""

' multiple line of comments'

In [ ]:
# function definition
def add(num1,num2):
    return num1 + num2

#function calling
add(5,5)

10

In [ ]:
def function():
    """ 
     doc string 
    
    to describe the purpose of function
    """
    pass 

function()

In [ ]:
# interpreter encounters "pass" keyword, it does nothing and moves on to the next line.

In [ ]:
#function definition 
def add(number1, number2):
    """ it takes two arguments
    first parameter: number1
    second parameter: number2

    Returns: finally adds the two number and returns the output
    """
    return number1 + number2 # function definition ends here

#function calling....to execute the function
add(20, 5)

25

In [ ]:
#args .....within function()
def argument_function(*args):
    for i in list(args):
        print(i)


argument_function(2,3,4,5)

2
3
4
5

In [ ]:
def add_arguments(*args):
    sum=0
    for i in args:
        sum+=i
    print("sum of all values",sum)    

add_arguments(1,2,3,4,5,6)

sum of all values 21

In [ ]:
#kwargs.....
def function(**kwargs):
    return kwargs

function(name="chandra",email_id="chandrasekharcse522@gmail.com")

{'name': 'chandra', 'email_id': 'chandrasekharcse522@gmail.com'}

In [ ]:
#lambda

func= lambda x: x+1

#pass value to func()
func(5)

6

In [ ]:
#lambda
func2 = lambda a,b : a+b

func2(5,5)

10

In [ ]:
#lambda
#square of the function()
func3= lambda a: a**2

func3(5)

25

In [ ]:
#lambda
#max value
func4 = lambda a,b: a if a>b else b

func4(5,27)

27

In [ ]:
#lambda
#min value
func5= lambda a,b: b if a>b else a


func5(27,3)

3

In [ ]:
# how the code gets executed?

print("number1")
print("second number")
for i in range(3):
    print(i)
print("third number")

number1
second number
0
1
2
third number

In [ ]:
df1 = 5
type(df1)

int

In [ ]:
# type conversion
# convert integer to string

vari = str(df1)
type(vari)

str

In [ ]:
b1= input("enter number")
print(b1)

6

In [ ]:
a1 = 20
a1 + b1

# type(b)====str
#trying to add int and str

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
xyz= input("enter user input")
print("given input",xyz)

type(xyz)

print("data type :", type(xyz))

given input string
data type : <class 'str'>

In [ ]:
a=20
#input()....... asking user to "enter a number"
b= int(input("Ener number")) # converted it into integer
print("b data type is",type(b))
print(a + b)

b data type is <class 'int'>
26

In [ ]:
v= "chandra"
print(type(v))
print(v)
list(v)
print("converted to list data type",list(v))

<class 'str'>
chandra
converted to list data type ['c', 'h', 'a', 'n', 'd', 'r', 'a']

In [ ]:
name=" chandra"
title="AI Engineer"
print(f"my name is: {name} and my profession is: {title}")

my name is:  chandra and my profession is: AI Engineer

In [ ]:
expression = input("Enter expression")
result = eval(expression)
print(result)

# Enter expression   3 + 7
#given input is string data type
# eval ()

10

In [ ]:
type(result)

int

In [ ]:
a = eval("2 * 5")
a

10

In [ ]:
a = eval("3 + 5")
a

8

In [ ]:
a = eval("2 + 3 + 5")
a

10

In [ ]:
a = eval("2 * 4 * 10")
a

80

In [ ]:
a = eval("100 / 5")
a

20.0

In [ ]:
len("hello world")

11

In [ ]:
b= eval("len('hello world')")
print(b)
type(b)

11

int

for loop

In [ ]:
a = [1,2,3,4,5,6]

for i in a:
    print(i)

1
2
3
4
5
6

In [ ]:
t = (1,2,3,4)

for i in t:
    print(i)

1
2
3
4

In [ ]:
fruits = ['apple', 'banana', 'grapes']

for index, i in enumerate(fruits):
    print(index,i)

0 apple
1 banana
2 grapes

In [ ]:
# function to print even numbers

def even_number_sum():
    sum=0
    numbers = [1,2,3,4,5,6,7,8,9,10]
    for i in numbers:
        if i%2==0:
         sum+=i
    print(sum) 

even_number_sum()

30

In [ ]:
#last occurence of target character
text = "iT is a text CONTENT and prints a value"
target_value='a'
counter = 0
print("length:",len(text))
for i in range(len(text)):
    if text[i].lower()==target_value:
        counter=i
        


print(counter)

length: 39
35

In [ ]:
#sum of all numbers within range of 50
sum=0
for i in range(1,50):
    sum=sum + i
print(f"the total sum is:{sum}")

the total sum is:1225

In [ ]:
#sum of all even numbers within range of 50
sum=0
for i in range(1,50):
    if i%2==0:  #even number condition
        sum+=i
print(f"sum of all even numbers within range of 50:{sum}")

sum of all even numbers within range of 50:600

In [ ]:
#sum of all odd numbers within range of 50
sum=0
for i in range(1,50):
    if i%2!=0:  #odd number condition
        sum+=i
print(f"sum of all odd numbers within range of 50:{sum}")

sum of all odd numbers within range of 50:625

In [ ]:
# first index of even integer within range of 50
position=0
for i in range(1,50):
    if i%2==0:
        position=position+1
        break
print(f"the first index of even integer is {position}")

the first index of even integer is 1

In [ ]:
# last index of  even integer within range of 50
position=0
for i in range(1,50):
    if i%2==0:
        position=position+1
        continue
print(f"the last index of even integer is {position}")

the last index of even integer is 24

In [ ]:
# first index of odd integer within range of 50
position=0
for i in range(1,50):
    if i%2!=0:
        position=position+1
        break
print(f"the first index of odd integer is {position}")

the first index of odd integer is 1

In [ ]:
# last index of odd integer within range of 50
position=0
for i in range(1,50):
    if i%2!=0:
        position=position+1
        continue
print(f"the last index of odd integer is {position}")

the last index of odd integer is 25

In [ ]:
# print the first even integer within range of 50
first_even_integer = 0
for i in range(1,50):
    if i%2==0:
        first_even_integer= i
        break
print(first_even_integer)

2

In [ ]:
# print the first odd integer within range of 50
first_odd_integer = 0
for i in range(1,50):
    if i%2!=0:
        first_odd_integer= i
        break
print(first_odd_integer)

1

In [ ]:
# print the last even integer within range of 50
last_even_integer = 0
for i in range(1,50):
    if i%2==0:
        last_even_integer= i
        continue
print(last_even_integer)

48

In [ ]:
# print the last odd integer within range of 50
last_odd_integer = 0
for i in range(1,50):
    if i%2!=0:
        last_odd_integer= i
        continue
print(last_odd_integer)

49

In [ ]:
# print prime numbers
for num in range(5,15):
    if num > 1:
        for i in range(2, num):
            if num%i == 0:
                break
        else:
            print(num)

5
7
11
13

In [ ]:
#reverse a number
number= 678901
reverse=0
while number > 0:
    remainder = number%10
    reverse= remainder+(reverse * 10)
    number = number//10

print(reverse)

109876

In [ ]:
# print all the digits within a number
sum=0
number= 123456
while number>0:
    remainder=number%10
    sum+= remainder
    number//=10
print(sum)

21

In [ ]:
#print datetime
import datetime

print(datetime.datetime.now())

2025-09-17 12:07:20.324212

In [ ]:
#print date
import datetime

print(datetime.date.today())

2025-09-17

In [ ]:
#print day
import datetime

print(datetime.date.today().day )

17

In [ ]:
# add 7 days to the current date
import datetime

 
print(datetime.date.today() + datetime.timedelta(days=7))

2025-09-24

In [ ]:
#print last month
import datetime

last_month = datetime.date.today() - datetime.timedelta(days=30)
print(last_month)

2025-08-18

In [ ]:
#print hour
import datetime

print(datetime.datetime.now().hour)

12

In [ ]:
#print minute
import datetime

print(datetime.datetime.now().minute)

14

In [ ]:
#print second
import datetime

print(datetime.datetime.now().second)

36

In [ ]:
import datetime

# Get the current date and time
now = datetime.datetime.now()

print("--- Current Date and Time ---")
print("Full datetime object:", now)
print("Year:", now.year)
print("Month:", now.month)
print("Day:", now.day)
print("Hour:", now.hour)
print("Minute:", now.minute)
print("Second:", now.second)
print("Microsecond:", now.microsecond)

--- Current Date and Time ---
Full datetime object: 2025-09-17 12:24:47.596869
Year: 2025
Month: 9
Day: 17
Hour: 12
Minute: 24
Second: 47
Microsecond: 596869

In [ ]:
import datetime

now = datetime.datetime.now()

print("--- Formatted Date and Time ---")
print("Long format:", now.strftime("%A, %B %d, %Y"))
print("Short format:", now.strftime("%Y-%m-%d %H:%M:%S"))
print("Month and Year:", now.strftime("%B %Y"))
print("Just the time:", now.strftime("%I:%M %p")) # 12-hour clock with AM/PM

--- Formatted Date and Time ---
Long format: Wednesday, September 17, 2025
Short format: 2025-09-17 12:26:21
Month and Year: September 2025
Just the time: 12:26 PM

In [ ]:
import time

print("Starting...")
time.sleep(3)  # wait for 3 seconds
print("Done waiting!")

Starting...
Done waiting!

In [ ]:
import time

start = time.time()
# some task
for _ in range(100):
    pass
end = time.time()

print("Time taken:", end - start, "seconds")

#used in checking how much time machine learning model is taken to execute

Time taken: 0.0 seconds

In [ ]:
#CPU time.........time.perf_counter() gives you a high-precision timer — great for measuring the actual runtime of code with sub-second accuracy (better than time.time() for this).
import time
import random

def slow_task():
    # Create a big list of random numbers and sort it
    numbers = [random.randint(1, 1000000) for _ in range(1000000)]
    numbers.sort()

# Start timer
start = time.perf_counter()

# Run the task
slow_task()

# End timer
end = time.perf_counter()

# Calculate elapsed time
elapsed = end - start
print(f"Task completed in {elapsed:.4f} seconds")

Task completed in 4.1274 seconds

In [ ]:
#zip() function and enumerate() function
list1=[1,2,3]
list2=['chandra','sai','ML Engineer']
list3=['Data Science','MLOPS']
zipped_content=zip(list1,list2,list3)

print(zipped_content)
print(f"print zipped content in the form of list: {list(zipped_content)}")
print("")
print(f"dictionaryy format of zipped content{dict(zipped_content)}")

<zip object at 0x0000013F5ABDF180>
print zipped content in the form of list: [(1, 'chandra', 'Data Science'), (2, 'sai', 'MLOPS')]

dictionaryy format of zipped content{}

In [ ]:
#zipped content for dictionary type cast of data type ....empty{}
#change the above code and try to print dict type data
#zip() function and enumerate() function
list1=[1,2,3]
list2=['chandra','sai','ML Engineer']
list3=['Data Science','MLOPS']
zipped_content=zip(list1,list2,list3)

print(zipped_content)
print(f"print zipped content in the form of list: {list(zipped_content)}")
print("")
list11=[1,2,3]
list22=['chandra','sai','ML Engineer']
#list33=['Data Science','MLOPS','']
zipped_content1=zip(list11,list22)
print(f"dictionaryy format of zipped content{dict(zipped_content1)}")

<zip object at 0x0000013F5ABC7180>
print zipped content in the form of list: [(1, 'chandra', 'Data Science'), (2, 'sai', 'MLOPS')]

dictionaryy format of zipped content{1: 'chandra', 2: 'sai', 3: 'ML Engineer'}

In [ ]:
#set
l=[1,2,3,4]
list5=set(l)
list5

{1, 2, 3, 4}

In [ ]:
#set
example=['chandra','list content']
set_content=set(example)
set_content

{'chandra', 'list content'}

In [ ]:
#set example it stores unique values 
example=('chandra', 'chandra','chandra')
set_example=set(example)
list_ex=[1,1,1,1,1,1,1,1,1,1,1,1,]
set_li=set(list_ex)
set_example,set_li

({'chandra'}, {1})

In [ ]:
#set example
s1={10,9,8,7,6,5,3,2,1}

#display the data in sorted ascending order
s1

{1, 2, 3, 5, 6, 7, 8, 9, 10}

In [ ]:
#add value to the set
s12={10,9,7,3,2,1}
s12.add(343)

s12

{1, 2, 3, 7, 9, 10, 343}

In [ ]:
class Myclass:
    
    def basic(self):
        print("my class")

c=Myclass()

c.basic()

my class

In [ ]:
#closure 

def outer():
    x=10
    def inner():
        print(x)

    return inner

closure=outer()

#function calling
closure()

10

In [ ]:
#closure

def create_counter():
    count = 0
    def increment():
        nonlocal count  # The nonlocal keyword is needed to modify the variable
        count += 1
        return count
    return increment

counter1 = create_counter()
print(f"Counter 1: {counter1()}") # 1
print(f"Counter 1: {counter1()}") # 2

counter2 = create_counter()
print(f"Counter 2: {counter2()}") # 1

Counter 1: 1
Counter 1: 2
Counter 2: 1

In [ ]:
#decorators
# a decorator is a closure that takes a function as an argument and returns a new function.

def my_decorator(function):
    def wrapper():
        print("before the function")
        function()
        print("after function ")
    return wrapper


@my_decorator
def weather_api():
    print("Weather information")


#function calling
weather_api()

before the function
Weather information
after function

In [ ]:
# List comprehension
# copy the numbers from range of 0 to 10 within new list


number_2=[number for number in range(0,11)]
print(number_2)

## actually what this list comprehension does
#number_2=[]
# for i in range(0,11)
#     number_2.append(i)
#print(number_2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# use "List Comprehension"
# copy even numbers from the range of 1 to 10

numbers=[number for number in range(1,11) if number%2==0]
print(numbers)

[2, 4, 6, 8, 10]

In [ ]:
# use "List Comprehension"
#copy the odd numbers from the range of 1 to 10

numbers=[number for number in range(1,11) if number % 2!=0]
print(numbers)

[1, 3, 5, 7, 9]

In [ ]:
# use "List Comprehension"
# print the square of the numbers from range 1 to 10
numbers=[number**2 for number in range(1,11)]
print(numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# List Comprehension
# using if and else block
# print even or odd from the range of 1 to 10

numbers=["even" if number%2==0 else "odd" for number in range(1,11) ]
print(numbers)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [ ]:
# List Comprehension
# using function() within list comprehension

def square(number):
    return number**2

numbers=[square(number) for number in range(1,11)]
print(numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# string operations within List Comprehension

content=["hello","chandra"]

output=[sample.upper() for sample in content]
print(output)

['HELLO', 'CHANDRA']

In [ ]:
# zip() function using "List Comprehension"

names=["Chandra","Sai"]
scores=[85, 90]

combined=[f"{n}: {s}" for n,s in zip(names,scores)]
print(combined)

['Chandra: 85', 'Sai: 90']

In [ ]:
# enumerate() function within "List Comprehension"

data=["a","b","c"]
indexed=[(i,val) for i,val in enumerate(data)]
print(indexed)

[(0, 'a'), (1, 'b'), (2, 'c')]

In [ ]:
# try except

try:
    1/0
except:
    print("Some Error")

Some Error

In [ ]:
# print the exception
try:
    1/0
except Exception as e:
    print(e)

division by zero

In [ ]:
try:
    1/0
except ZeroDivisionError as e:
    print(e)

division by zero

In [ ]:
try:
    num=int(input("Enter number"))
except Exception as e:
    print(e)

invalid literal for int() with base 10: '"chandra"'

In [ ]:
try:
    num=int(input("Enter number"))
except ValueError as e:
    print(e)

invalid literal for int() with base 10: '"chandra"'

In [ ]:
# try and except and finaly

try:
    num = int(input("Enter a number: "))
    print(f"You entered: {num}")
except ValueError:
    print("Oops! That's not a valid number.")
finally:
    print("This always runs, no matter what.")

Oops! That's not a valid number.
This always runs, no matter what.